<div class="container-manage">
    <span class="title"><img src="assets/imgs/svg/ic-title-screen.svg" class="mr-3" />{{ !(funcId > 0) ? 'Thêm mới đơn
        vị' : 'Cập nhật đơn vị' }}</span>
    <div class="grid formgrid mt-3" [formGroup]="fFunction">
        <div class="col-6">
            <div class="field p-fluid">
                <label for="txtName" class="text-label">Tên đơn vị
                    <span class="text-danger"> *</span>
                </label>
                <input id="txtName" type="text" pInputText formControlName="Name" class="form-input">
                <small *ngIf="fFunction?.controls['Name'].hasError('minlength')" class="p-invalid text-danger">Tên đơn
                    vị phải tối thiểu 6 kí tự.</small>
                <small *ngIf="fFunction?.controls['Name'].hasError('maxlength')" class="p-invalid text-danger">Tên đơn
                    vị chỉ được tối đa 150 kí tự.</small>
                <small *ngIf="fFunction?.controls['Name'].hasError('required') && fFunction?.controls['Name'].dirty"
                    class="p-invalid text-danger">Vui lòng nhập tên đơn vị.</small>
            </div>
        </div>

        <div class="col-6">
            <div class="field p-fluid">
                <label for="txtName" class="text-label">Email
                    <span class="text-danger"> *</span>
                </label>
                <input id="txtName" type="text" pInputText formControlName="Email" class="form-input">
                <small *ngIf="fFunction?.controls['Email'].hasError('required') && fFunction?.controls['Name'].dirty"
                    class="p-invalid text-danger">Vui lòng nhập Email.</small>
            </div>
        </div>

        <div class="col-6">
            <div class="field p-fluid">
                <label for="txtName" class="text-label">Địa chỉ đơn vị</label>
                <input id="txtName" type="text" pInputText formControlName="Address" class="form-input">
                <small *ngIf="fFunction?.controls['Address'].hasError('minlength')" class="p-invalid text-danger">Địa
                    chỉ đơn vị phải tối thiểu 10 kí tự.</small>
                <small *ngIf="fFunction?.controls['Address'].hasError('maxlength')" class="p-invalid text-danger">Địa
                    chỉ đơn vị chỉ được tối đa 250 kí tự.</small>
                <small *ngIf="fFunction?.controls['Address'].hasError('required') && fFunction?.controls['Name'].dirty"
                    class="p-invalid text-danger">Vui lòng nhập địa chỉ.</small>
            </div>
        </div>

        <div class="col-6">
            <div class="field p-fluid">
                <label for="txtName" class="text-label">Tài khoản
                    <span class="text-danger"> *</span>
                </label>
                <input id="txtName" type="text" pInputText formControlName="UserName" class="form-input" disabled>
                <small
                    *ngIf="fFunction?.controls['UserName'].hasError('required') && fFunction?.controls['UserName'].dirty"
                    class="p-invalid text-danger">Vui lòng nhập tài khoản.</small>
            </div>
        </div>

        <div class="col-6" *ngIf="!(funcId > 0)">
            <div class="field p-fluid">
                <label for="txtName" class="text-label">Mật khẩu
                    <span class="text-danger"> *</span>
                </label>
                <p-password formControlName="Password" autocomplete="off" placeholder="Nhập mật khẩu"
                    [toggleMask]="true" (input)="matchingPasswords()" style="border-radius: 6px;"></p-password>
                <small
                    *ngIf="fFunction?.controls['Password'].hasError('required') && fFunction?.controls['Password'].dirty"
                    class="p-invalid text-danger">Vui lòng nhập mật khẩu.</small>
                <small *ngIf="fFunction.get('Password')?.hasError('pattern')" class="p-invalid text-danger">
                    Mật khẩu yêu cầu chữ hoa, chữ thường, số và tối thiểu 6 ký tự!
                </small>
            </div>
        </div>

        <div class="col-6" *ngIf="!(funcId > 0)">
            <div class="field p-fluid">
                <label for="txtName" class="text-label">Nhập lại mật khẩu
                    <span class="text-danger"> *</span>
                </label>
                <p-password formControlName="ConfirmPassword" autocomplete="off" placeholder="Nhập mật khẩu"
                    [toggleMask]="true" (input)="matchingPasswords()" style="border-radius: 6px;"></p-password>
                <small
                    *ngIf="fFunction?.controls['ConfirmPassword'].hasError('required') && fFunction?.controls['ConfirmPassword'].dirty"
                    class="p-invalid text-danger">Vui lòng nhập lại mật khẩu.</small>
                <small *ngIf="fFunction?.controls['ConfirmPassword'].hasError('mismatchedPasswords')"
                    class="p-invalid text-danger">Mật khẩu nhập lại không khớp.</small>
            </div>
        </div>

        <form name="form" class="form-custom col-12" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <div>
                <div class="infoPackage">
                    <div class="inDetailPackage">
                        <div class="AddForm_Package">
                            <div class="ColForm_AddPackage">
                                <label for="" class="text-lab">Danh sách nhóm quyền</label>
                                <p-table [value]="listRole" [tableStyle]="{ 'min-width': '50rem' }"
                                    [loading]="isLoadingTable" [(selection)]="selectedRole">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="w-15">STT</th>
                                            <th class="w-50">Tên nhóm quyền</th>
                                            <th class="text-center w-15">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-functionrole let-rowIndex="rowIndex">
                                        <tr>
                                            <td>{{ rowIndex + 1 }}</td>
                                            <td>{{ functionrole.name }}</td>
                                            <td class="text-center">
                                                <p-tableCheckbox [value]="functionrole"></p-tableCheckbox>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="10" class="text-center text-danger">Không có dữ liệu.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <p-paginator (onPageChange)="onPageChange($event)" [rows]="10"
                                    [totalRecords]="totalElement" [showCurrentPageReport]="true"
                                    currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                                    [rowsPerPageOptions]="[10, 25, 50]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="col-12 p_float_right">
            <p-toast></p-toast>
            <button class="btn btn-close p-button-outlined p-button-secondary mr-3" (click)="onBack($event)">
                <img src="assets/imgs/svg/ic-close-circle.svg" class="mr-3" />Hủy
            </button>
            <button class="btn btn-digi" (click)="onSubmit()"><img src="assets/imgs/svg/ic-save.svg" class="mr-3" />Lưu thông tin</button>
        </div>
    </div>
</div>

<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>