<div class="grid">
    <div class="col-12">
        <div class="card" [formGroup]="fService">
            <h3 class="mg-0">
                {{ !(id > 0) ? 'Thêm mới cấu hình chức năng App' : 'Cập nhật cấu hình chức năng App' }}
            </h3>
            <div class="grid formgrid" >
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Mã cấu hình
                             <span class="text-danger">*</span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="Code" placeholder="Tên cấu hình thanh toán">
                        <small *ngIf="fService.controls['Code'].hasError('minlength')" class="p-invalid text-danger">Mã cấu hình phải tối thiểu 2 kí tự.</small>
                        <small *ngIf="fService.controls['Code'].hasError('maxlength')" class="p-invalid text-danger">Mã cấu hình chỉ được tối đa 150 kí tự.</small>
                        <small *ngIf="fService.controls['Code'].hasError('required') && fService.controls['Code'].dirty" class="p-invalid text-danger">Vui lòng nhập Mã cấu hình.</small> 
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Tên cấu hình
                             <span class="text-danger">*</span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="Name" placeholder="Tên cấu hình thanh toán">
                        <small *ngIf="fService.controls['Name'].hasError('minlength')" class="p-invalid text-danger">Tên cấu hình phải tối thiểu 6 kí tự.</small>
                        <small *ngIf="fService.controls['Name'].hasError('maxlength')" class="p-invalid text-danger">Tên cấu hình chỉ được tối đa 150 kí tự.</small>
                        <small *ngIf="fService.controls['Name'].hasError('required') && fService.controls['Name'].dirty" class="p-invalid text-danger">Vui lòng nhập Tên cấu hình.</small> 
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Loại cấu hình <span class="text-danger">*</span></label>
                        <p-dropdown
                            [options]="lstType" 
                            placeholder="Chọn trạng thái" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="Type" 
                            optionLabel="label" 
                            optionValue="value">
                        </p-dropdown>
                        <!-- <small *ngIf="fService.controls['Status'].hasError('required') && fService.controls['Status'].dirty" class="p-invalid text-danger">Vui lòng chọn khu đô thị.</small>                    -->
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Quản lý chức năng <span class="text-danger">*</span></label>
                        <p-dropdown
                            [options]="lstFunction" 
                            placeholder="Chọn trạng thái" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="FunctionId" 
                            optionLabel="Name" 
                            optionValue="FunctionId"
                            [filter]="true">
                        </p-dropdown>
                        <small *ngIf="fService.controls['Status'].hasError('required') && fService.controls['Status'].dirty" class="p-invalid text-danger">Vui lòng chọn khu đô thị.</small>                   
                    </div>
                </div>
                <div class="col-6">
                    <label for="txtImage" class="form-label">Icon chức năng</label>
                    <span class="text-danger">*</span>
                    <div class="displayflex">
                        <div class="col-6">
                            <input  formControlName="Icon"  class="form-control no-bor" type="file" (change)="onIconSelected($event)">
                        </div>
                        <div class="col-6">
                            <img [src]="uploadedIconUrl" class="img-thumbnail" [style.display]="isIconSelected ? 'block' : 'none'">
                            <i class="fa fa-times-circle del-img proj-img" aria-hidden="true" (click)="Iconnull()"[style.display]="isIconSelected ? 'block' : 'none'"></i>
                        </div>
                         <small *ngIf="fService.controls['Icon'].hasError('required') && fService.controls['Icon'].dirty" class="p-invalid text-danger">Vui lòng chọn Icon.</small>                   
                    </div>
                </div>      
                <div class="col-6">
                    <label for="txtImage" class="form-label">Image chức năng</label>
                    <div class="displayflex">
                        <div class="col-6">
                            <input  formControlName="Image"  class="form-control no-bor" type="file" (change)="onImageSelected($event)">
                        </div>
                        <div class="col-6">
                            <img [src]="uploadedImageUrl" class="img-thumbnail" [style.display]="isImageSelected ? 'block' : 'none'">
                            <i class="fa fa-times-circle del-img proj-img" aria-hidden="true" (click)="Imagenull()"[style.display]="isImageSelected ? 'block' : 'none'"></i>
                        </div>
                    </div>
                </div>            
                <div class="col-6">
                    <div class="field p-fluid">
                        <div>
                            <label for="txtUserName">Thứ tự hiển thị  <span class="text-danger">*</span></label>
                        </div>
                        <input id="txtUserName" type="text" pInputText formControlName="Location" placeholder="Nhập thứ tự">
                        <small *ngIf="fService.controls['Location'].hasError('required') && fService.controls['Location'].dirty" class="p-invalid text-danger">Vui lòng nhập thứ tự hiển thị.</small>                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Cấu hình hiển thị <span class="text-danger">*</span></label>
                        <p-dropdown
                            [options]="isShowConfig" 
                            placeholder="Chọn trạng thái" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="Status" 
                            optionLabel="label" 
                            optionValue="value">
                        </p-dropdown>
                        <small *ngIf="fService.controls['Status'].hasError('required') && fService.controls['Status'].dirty" class="p-invalid text-danger">Vui lòng chọn khu đô thị.</small>                   
                    </div>
                </div>

                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Hủy" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                    </button>
                    <p-button label='Xác nhận' icon='pi pi-check'
                        [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>



