<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Cấu hình chức năng app - Ibuilding</h4>
            <div class="textFilterProj displayflex">
                <div class="col-4">
                    <label>Tìm kiếm</label>
                    <div class="formSearch w-100">
                        <input type="text" placeholder="Tên cấu hình Email... " name="searchProject" [(ngModel)]="search" 
                        (keyup.Enter)="onSearch($event)" (keyup)="isInputEmpty = search === ''" value="" class="StextSingle_Project">
                        <button class="iconbtnSearch"  *ngIf="!isInputEmpty"><span class="pi pi-times mg-t-10" style="font-size: 1rem" (click)="onClearInput()"></span></button>
                    </div>
                </div>
                 <div class="allSelectFilter displayflex w-65" [formGroup]="fSearch">
                    <div class="col-6 pd-0">
                        <div class="field p-fluid">
                            <label for="txtDistrict">Loại cấu hình</label>
                            <p-dropdown
                                [options]="lstTypeService"
                                placeholder="Chọn loại cấu hình" 
                                emptyMessage="Không có dữ liệu."
                                [showClear]="true" 
                                formControlName="Type" 
                                optionLabel="label"
                                optionValue="value"
                                (onChange)="onSelect($event)">
                            </p-dropdown>                      
                        </div>
                    </div>                         
                </div>  
            </div>
                  
            <section class="FilterProject">
                <div class="textFilterProj">
                    <div class="addProjectList btn-options">
                        <button type="button" pButton icon="fa fa-plus-circle" label="Thêm mới" routerLink="/configuration/utilities-service/create"></button>
                    </div>
                    <!-- <div class="addProjectList mr-2 btn-orange absolute-btn">
                        <button #btn type="button" pButton icon="pi pi-chevron-down" label="Hành động" (click)="menu.toggle($event)" style="width:auto"></button>
                        <p-tieredMenu #menu [model]="menuItems" [popup]="true"></p-tieredMenu>
                    </div> -->
                </div>
            </section>

            <p-table 
                [value]="lstService"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="isLoadingTable"
                >
                <ng-template pTemplate="header">
                    <tr>
                        <th >Stt</th>
                        <th >Mã cấu hình</th>
                        <th >Tên cấu hình</th>
                        <th >Loại cấu hình</th>
                        <th >Icon</th>
                        <th >Thứ tự hiển thị</th>
                        <th >Cấu hình hiển thị</th>
                        <th class="min-w-90">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ item.Code }}</td>
                        <td>{{ item.Name }}</td>
                        <td>{{ ShowTypeDocument(item.Type) }}</td>
                        <td><img class="img-size" src="{{ docmainImage }}{{ item.Icon }}"></td>
                        <td>{{ item.Location }}</td>
                        <td>{{ShowStatus(item.Status) }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/configuration/utilities-service/update/{{ item.Id }}" ></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(item.Id)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="text-center">
                        <td colspan="6" class="text-center color-i">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
