<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="textFilterPos">
                <h4 class="mg-l-9">Danh sách tài liệu</h4>

                <section class="FilterProject">
                    <div class="textFilterProj">
                        <div class="addProjectList">
                            <a href="#/category/document/create" class="mg-l-9 addList" 
                                ><i
                                    class="fa fa-plus-circle"
                                    aria-hidden="true"
                                ></i>
                                Thêm mới</a
                            >
                        </div>
                    </div>
                </section>
            </div>
            <div class="grid formgrid" [formGroup]="fSearch">
                <div class="field p-fluid center-text-inpos wid-15">
                    <p-dropdown
                        [options]="lstDoc"
                        placeholder="Loại tài liệu"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="Type"
                        optionLabel="Name"
                        optionValue="Id"
                        (onChange)="onSelectDocument($event)"
                    >
                    </p-dropdown>
                </div>
                <div class="field p-fluid center-text-inpos wid-15">
                    <p-dropdown
                        [options]="lstProject"
                        placeholder="Khu đô thị"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="ProjectId"
                        optionLabel="Name"
                        optionValue="Id"
                        (onChange)="onSelectProject($event)"
                    >
                    </p-dropdown>
                </div>
                <div class="field p-fluid center-text-inpos wid-15">
                    <p-dropdown
                        [options]="lstTower"
                        placeholder="Tòa nhà"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="TowerId"
                        optionLabel="Name"
                        optionValue="Id"
                        (onChange)="onSelectTower($event)"
                    >
                    </p-dropdown>
                </div>
                <!-- <div class="field p-fluid center-text-inpos wid-15">
                    <p-dropdown
                        [options]="lstFloor"
                        placeholder="Tầng"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="FloorId"
                        optionLabel="Name"
                        optionValue="Id"
                        (onChange)="onSelectFloor($event)"
                    >
                    </p-dropdown>
                </div> -->
                <div class="field p-fluid center-text-inpos wid-15">
                    <p-dropdown
                        [options]="lstApartment"
                        placeholder="Căn hộ"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="ApartmentId"
                        optionLabel="Name"
                        optionValue="Id"
                        (onChange)="onSelectApartment($event)">
                    </p-dropdown>
                </div>        
               

                <div class="formSearchText formsearch-posi mg-t-2">
                    <input
                        (keyup.enter)="onSearch()"
                        type="text"
                        [(ngModel)]="filterText"
                        placeholder="Tìm kiếm theo tên tài liệu... " 
                        (keyup)="isInputEmpty = search === ''"
                        value="" 
                        class="StextSingle_Project" 
                        [ngModelOptions]="{standalone: true}">
                        <button class="iconbtnSearch"  *ngIf="!isInputEmpty"><span class="pi pi-times mg-t-10" style="font-size: 1rem" (click)="onClearInput()"></span></button>
                </div>
                <div class="allSelectFilter displayflex mg-l-9">
                    <div class="itemSelectFilter">
                        <div class="grid formgrid center-form-inpos">
                            <div class="col-12"></div>
                            <p-toggleButton class="mg-l-2 mg-t-2" [(ngModel)]="idFrozen" [ngModelOptions]="{standalone: true}"  [onIcon]="'pi pi-lock'" offIcon="pi pi-lock-open" [onLabel]="'Thao tác'" 
                                offLabel="Thao tác" [style]="{'width': '12rem'}"></p-toggleButton>
                        </div>
                    </div>
                </div>
            </div>
            <p-table class="mg-t-2"
                [value]="lstDocument"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                [rowsPerPageOptions]="[10, 25, 50]"
                [scrollable]="true"
                [(selection)]="selectedDocument"
            >
                <ng-template pTemplate="header">
                    <tr class="th-table">
                        <th>STT</th>
                        <th class="min-w-150">Tên tài liệu</th>
                        <th class="min-w-150">Loại tài liệu</th>
                        <th class="min-w-300">Tài liệu đính kèm</th>
                        <th class="min-w-180">Ngày tạo</th>
                        <th class="min-w-180">Ngày hiệu chỉnh</th>
                        <th class="min-w-150">Ghi chú</th>
                        <th class="min-w-90" alignFrozen="right" pFrozenColumn [frozen]="idFrozen" [ngClass]="{'color-bg': idFrozen}">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-document
                    let-rowIndex="rowIndex"
                >
                    <tr class="td-table">
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>{{ document.Name }}</td>
                        <td>{{ ShowTypeDocument(document.Type)}}</td>
                        <!-- <td>{{ document.listAttactments[0]?.Name}}</td> -->
                        <td>
                            <span *ngFor="let items of document.listAttactments;let last=last">{{items?.Name}}<span *ngIf="!last">, </span></span>
                        </td>
                        <td>{{ document.DateCreated ? (document.DateCreated | date: 'dd/MM/yyyy') : '' }} - {{ document.DateCreated ? (document.DateCreated | date:'shortTime') : '' }}</td>
                        <td>{{ document.DateUpdated ? (document.DateUpdated | date: 'dd/MM/yyyy') : '' }} - {{ document.DateUpdated ? (document.DateUpdated | date:'shortTime') : '' }}</td>
                        <td>{{ document.Note }}</td>
                        <td alignFrozen="right" pFrozenColumn [frozen]="idFrozen" [ngClass]="{'color-bg': idFrozen}">
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                routerLink="/category/document/update/{{document.Id}}"
                            ></button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-warning"
                                (click)="onDelete(document)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="text-center">
                                 <td colspan="7" class="text-center text-danger">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>
