<div class="grid">
    <div class="col-12">
        <div class="card">
            <h3 class="mg-0">Danh sách đơn đăng ký</h3>
            <section class="FilterProject ">
                <div class="textFilterProj displayflex">
                    <div class="w-65 displayflex">
                        <div class="mr-2 mt-2">
                            <button type="button" pButton label="Cấp mới thẻ, cư dân về ở" routerLink="/utilities/resident-service/create"></button>
                        </div>
                        <div class="mr-2 mt-2">
                            <button type="button" pButton label="Thay đổi thông tin" routerLink="/utilities/registration/change-information"></button>
                        </div>
                        <div class="mr-2 mt-2">
                            <button type="button" pButton label="Khóa thẻ" routerLink="/utilities/resident-service/card-lock"></button>
                        </div>
                        <div class="mr-2 mt-2">
                            <button type="button" pButton label="Mở khóa thẻ" routerLink="/utilities/resident-service/card-unlock"></button>
                        </div>
                        <div class="mt-2">
                            <button type="button" pButton label="Hủy thẻ" routerLink="/utilities/cancel-card/create"></button>
                        </div>
                    </div>
                    <div class="w-35 ">
                        <div class="addProjectList btn-options ml-2 mt-2">
                            <button type="button" pButton icon="pi pi-refresh" label="Làm mới" (click)="btnReset()"></button>
                        </div>
                        <div class="addProjectList ml-2 mt-2 btn-orange absolute-btn">
                            <button #btn type="button" pButton icon="pi pi-chevron-down" label="Hành động" (click)="menu.toggle($event)" style="width:auto"></button>
                            <p-tieredMenu #menu [model]="menuItems" [popup]="true"></p-tieredMenu>
                        </div>
                        <div class="addProjectList ml-2 mt-2 btn-green">
                            <button type="button" pButton icon="pi ft-download" label="Xuất báo cáo" (click)="exportExcel()"></button>
                        </div>
                    </div>
                </div>
            </section> 
            <div class="grid formgrid mt-2" [formGroup]="fSearch">
                <div class="field p-fluid col-3">
                    <p-dropdown
                        [options]="lstProject"
                        placeholder="Khu đô thị"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="ProjectId"
                        optionLabel="Name"
                        optionValue="Id"
                        (onChange)="onSelectProject($event)">
                    </p-dropdown>
                </div>
                <div class="field p-fluid col-3 ">
                    <ng-select 
                        [items]="lstTower"
                        [virtualScroll]="true" 
                        [loading]="false" 
                        formControlName="TowerId"
                        placeholder="Tòa nhà"
                        bindLabel="Name" 
                        bindValue="Id"
                        (scrollToEnd)="fetchMoreTower()"
                        #selectTower
                        pDropdown
                        (change)="onSelectTower($event)">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <span [ngOptionHighlight]="search">{{item.Name}}</span>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="field p-fluid col-3 ">
                    <ng-select 
                        [items]="lstFloor"
                        [virtualScroll]="true" 
                        [loading]="false" 
                        formControlName="FloorId"
                        placeholder="Tầng"
                        bindLabel="Name" 
                        bindValue="Id"
                        (scrollToEnd)="fetchMoreFloor()"
                        #selectApartment
                        pDropdown
                        (change)="onSelectFloor($event)">
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <span [ngOptionHighlight]="search">{{item.Name}}</span>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="field p-fluid col-3 ">
                    <ng-select 
                        [items]="lstApartment"
                        [virtualScroll]="true" 
                        [loading]="false" 
                        formControlName="ApartmentId"
                        placeholder="Căn hộ"
                        bindLabel="Name" 
                        bindValue="Id"
                        (scrollToEnd)="fetchMoreApartment()"
                        #selectApartment
                        pDropdown>
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <span [ngOptionHighlight]="search">{{item.Name}}</span>
                        </ng-template>
                    </ng-select>
                </div>
                <div class="field p-fluid col-3">
                    <p-dropdown
                        [options]="lstUserRole"
                        placeholder="Loại đăng ký"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="Type"
                        optionLabel="label"
                        optionValue="value"
                        (onChange)="onRole($event)">
                    </p-dropdown>
                </div>
                <div class="field p-fluid col-3 ">
                    <p-dropdown
                        [options]="lstUserRole"
                        placeholder="Trạng thái đơn"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="Type"
                        optionLabel="label"
                        optionValue="value"
                        (onChange)="onRole($event)">
                    </p-dropdown>
                </div>
                <div class="field p-fluid  col-3 ">
                    <p-dropdown
                        [options]="[
                        { label: 'Đã thanh toán', value: true },
                        { label: 'Chưa thanh toán', value:  false }
                        ]"
                        placeholder="Trạng thái thanh toán"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="IsAccount"
                        optionLabel="label"
                        optionValue="value">
                    </p-dropdown>
                </div>
                <div class="field p-fluid displayflex col-3 btn-check">
                    <input type="checkbox">
                    <label for="">Đơn hủy</label>
                </div>
            </div>
            <div class="grid formgrid mt-2" [formGroup]="fSearch">
                <div class="field p-fluid col-3 p-date">
                    <label for="txtDate">Đăng ký từ ngày</label>
                    <p-calendar id="txtDate" [showIcon]="true" inputId="icon" type="Date" formControlName="Date"  dateFormat="dd/mm/yy" placeholder="Đăng ký từ ngày"></p-calendar>
                </div>
                <div class="field p-fluid col-3 p-date ">
                    <label for="txtDate">Đến ngày</label>
                    <p-calendar id="txtDate" [showIcon]="true" inputId="icon" type="Date" formControlName="Date"  dateFormat="dd/mm/yy" placeholder="Đến ngày"></p-calendar>
                </div>
                <div class="field p-fluid col-3 p-date">
                    <label for="txtDate">Ngày hẹn trả về</label>
                    <p-calendar id="txtDate" [showIcon]="true" inputId="icon" type="Date" formControlName="Date"  dateFormat="dd/mm/yy" placeholder="Ngày hẹn trả về"></p-calendar>
                </div>
                <div class="field p-fluid col-3 p-date">
                    <label for="txtDate">Ngày trả về</label>
                    <p-calendar id="txtDate" [showIcon]="true" inputId="icon" type="Date" formControlName="Date"  dateFormat="dd/mm/yy" placeholder="Ngày trả về"></p-calendar>
                </div>
                <div class="field p-fluid col-3 p-date">
                    <div class="w-30 btn-green">
                        <button type="button" pButton icon="pi pi-filter" label="Lọc " (click)="exportExcel()"></button>
                    </div>
                </div>
            </div>
            <div class="textFilterProj displayflex mb-4 w-100">
                <div class="w-50">
                    <span>Tìm kiếm</span>
                    <div class="formSearchText w-80">
                        <input type="text" placeholder="Tìm kiếm theo tên, CCCD/Hộ chiếu/Visa, SĐT cư dân... " name="searchProject" [(ngModel)]="search" 
                        (keyup.Enter)="onSearch($event)" (keyup)="isInputEmpty = search === ''" value="" class="StextSingle_Project">
                        <button class="iconbtnSearch"  *ngIf="!isInputEmpty"><span class="pi pi-times mg-t-10" style="font-size: 1rem" (click)="onClearInput()"></span></button>
                    </div>
                </div>
                    <section class="FilterProject w-50 mt-5">
                        <div class="displayflex btn-green togglebutton">
                            <div class="w-100">
                                <p-toggleButton [(ngModel)]="idFrozen" [onIcon]="'pi pi-lock'" offIcon="pi pi-lock-open" [onLabel]="'Thao tác'" 
                                offLabel="Thao tác" [style]="{'width': '8rem'}"></p-toggleButton>
                            </div>
                        </div>
                    </section> 
            </div> 
            <p-table 
                [value]="lstCardRequest"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                [rowsPerPageOptions]="[10, 25, 50]"
                [scrollable]="true"
                [loading]="isLoadingTable"
                [(selection)]="selectedItems">
                <ng-template pTemplate="header">
                    <tr>
                        <th >
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th >Stt</th>
                        <th class="min-w-200 ">Loại đăng ký</th>
                        <th class="min-w-200 ">Căn hộ</th>
                        <th class="min-w-200 ">Tên chủ hộ</th>
                        <th class="min-w-100 ">SĐT chủ hộ</th>
                        <th class="min-w-150 ">Ngày đăng ký</th>
                        <th class="min-w-150 ">Ngày cập nhật</th>
                        <th class="min-w-150 ">Ngày hẹn trả</th>
                        <th class="min-w-150 ">Ngày trả thẻ</th>
                        <th class="min-w-200 ">Phí làm thẻ (VNĐ)</th>
                        <th class="min-w-200 ">Trạng thái đơn</th>
                        <th class="min-w-200 ">Trạng thái thành toán</th>
                        <th class="min-w-90 ">Đơn hủy</th>
                        <th class="min-w-90 text-center"  alignFrozen="right" pFrozenColumn [frozen]="idFrozen" [ngClass]="{'color-bg': idFrozen}">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td >
                            <p-tableCheckbox [value]="item" ></p-tableCheckbox>
                        </td>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ item.TypeCardRequestName }}</td>
                        <td>{{ item.ApartmentName }}</td>
                        <td>{{ item.InfoApartmentOwner?.FullName }}</td>
                        <td>{{ item.InfoApartmentOwner?.Phone }}</td>
                        <td>{{ item.DateCreated | date:'dd/MM/yyyy' }}</td>
                        <td>{{ item.DateUpdated | date:'dd/MM/yyyy' }}</td>
                        <td>{{ item.DateAppointmentResponse | date:'dd/MM/yyyy' }}</td>
                        <td>{{ item.DateActualResponse | date:'dd/MM/yyyy' }}</td>
                        <td>{{ item.Fee }}</td>
                        <td>{{ item.ProcessStatusName }}</td>
                        <td>{{ item.StatusPaymentName }}</td>
                        <td>{{ item.IsCanceled }}</td>
                        <td pFrozenColumn alignFrozen="right" [frozen]="idFrozen" [ngClass]="{'color-bg': idFrozen}">
                            <button *ngIf="item.TypeCardRequest == 'CANCEL_CARD'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/utilities/cancel-card/update/{{ item.Id }}"></button>
                            <button *ngIf="item.TypeCardRequest == 'UNLOCK_CARD'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/utilities/resident-service/card-unlock/update/{{ item.Id }}"></button>
                            <button *ngIf="item.TypeCardRequest == 'LOCK_CARD'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/utilities/resident-service/card-lock/update/{{ item.Id }}"></button>
                            <button *ngIf="item.TypeCardRequest == 'MODIFIED_CARD'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/utilities/registration/update/{{ item.Id }}"></button>
                            <button *ngIf="item.TypeCardRequest == 'NEW_CARD'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/utilities/resident-service/update/{{ item.Id }}"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(item)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="text-center">
                                <td colspan="7" class="text-center text-danger">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>
