<div class="grid">
    <div class="col-12">
        <div class="card" [formGroup]="fPassword">
            <div class="grid formgrid" >
                <div class="col-12">
                    <div class="field p-fluid">
                        <label for="txtPassword">Mật khẩu  <span class="text-danger"> *</span></label>
                        <i class="float-right">
                            <small *ngIf="fPassword.controls['PasswordNew'].hasError('minlength')" class="p-invalid text-danger">Mật khẩu phải tối thiểu 6 kí tự.</small>
                            <small *ngIf="fPassword.controls['PasswordNew'].hasError('maxlength')" class="p-invalid text-danger">Mật khẩu chỉ được tối đa 15 kí tự.</small>
                            <small *ngIf="fPassword.controls['PasswordNew'].hasError('required') && fPassword.controls['PasswordNew'].dirty" class="p-invalid text-danger">Vui lòng nhập Mật khẩu.</small>
                        </i>
                        <p-password formControlName="PasswordNew" id="txtPassword" autocomplete="off" placeholder="Nhập mật khẩu" [toggleMask]="true" (input)="matchingPasswords()" styleClass="mb-5"></p-password>
                    </div>
                </div>
                <div class="col-12">
                    <div class="field p-fluid">
                        <label for="txtPassword">Nhập lại mật khẩu  <span class="text-danger"> *</span></label>
                        <i class="float-right">
                            <small *ngIf="fPassword.controls['NewPassword'].hasError('mismatchedPasswords')" class="p-invalid text-danger">Mật khẩu nhập lại không khớp.</small>
                        </i>
                        <p-password formControlName="NewPassword" id="txtPassword" autocomplete="off" placeholder="Nhập lại mật khẩu" [toggleMask]="true" (input)="matchingPasswords()" styleClass="mb-5"></p-password>
                    </div>
                </div>

                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Hủy" class="p-button-outlined p-button-secondary mr-2" (click)="onBack()">
                    </button>
                    <p-button label='Lưu thông tin'  
                        [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
