.container-change-pass {
    box-shadow: 0px 4px 18.8px 0px #4A8FCE40;
    margin: 16px;
    padding: 20px 12px;
    border-radius: 18px;
    background-color: var(--bg-modal);
    font-family: 'Roboto';

    .header {
        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: 21.09px;
            text-align: left;
            color: var(--text-color-blue-black);
        }
    }

    .input-form {
        border: 1px solid var(--bd-input);
        border-radius: 28px;
        padding: 16px 20px;
        background: var(--bg-modal);
        color: var(--text-input);
        font-size: 15px;
        font-weight: 400;
        .username{
            all:unset;
            background: var(--input-change-pass);
            border: none;
        }
    }

    .icon-eye {
        position: absolute;
        right: 15px;
        top: 20px;
        width: 50px;
        height: 15px;
        background-color: var(--bg-calendar);
        /* The color you want the SVG to be */
        -webkit-mask: url('/assets/imgs-chatbot/svg/ic-eye.svg') no-repeat center;
        mask: url('/assets/imgs-chatbot/svg/ic-eye.svg') no-repeat center;
        cursor: pointer;
    }
}
