<div class="grid">
    <div class="col-12">
        <div class="card" [formGroup]="fCustomer">
            <div class="grid formgrid" >
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtTowerId">Tòa nhà</label>
                         <span class="text-danger"> *</span>
                        <p-dropdown
                            [options]="lstTower" 
                            placeholder="Tòa nhà" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="TowerId" 
                            optionLabel="Name" 
                            optionValue="Id"
                            (onChange)="getApartment($event)">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtApartmentId">Căn hộ</label>
                         <span class="text-danger"> *</span>
                        <p-dropdown
                            [options]="lstApartment" 
                            placeholder="Chọn căn hộ" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="ApartmentId" 
                            optionLabel="Name" 
                            optionValue="Id"
                            (onChange)="onChaneProject()">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid p-date">
                        <label for="txtDateStart">Ngày đến</label>
                         <span class="text-danger"> *</span>
                        <p-calendar id="txtDateStart" [showIcon]="true" inputId="icon" type="date" formControlName="DateStart" dateFormat="dd.mm.yy"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>  
                <div class="col-6">
                    <div class="field p-fluid p-date">
                        <label for="txtDateEnd">Ngày đi</label>
                         <span class="text-danger"> *</span>
                        <p-calendar id="txtDateEnd" type="date" [showIcon]="true" inputId="icon" formControlName="DateEnd"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>  
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtType">Vai trò trong căn hộ</label>
                         <span class="text-danger"> *</span>
                        <p-dropdown
                            [options]="role"
                            placeholder="Vai trò trong căn hộ"
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true"
                            formControlName="Type"
                            optionLabel="label"
                            optionValue="value">
                        </p-dropdown>
                    </div>
                </div>  
                <div class="col-6" *ngIf="id > 0">
                    <div class="field p-fluid">
                        <label for="txtRelationshipId">Quan hệ với chủ hộ</label>
                         <span class="text-danger"> *</span>
                        <p-dropdown
                            [options]="relationshipOption"
                            placeholder="Vai trò trong căn hộ"
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true"
                            formControlName="RelationshipId"
                            optionLabel="label"
                            optionValue="value">
                        </p-dropdown>
                    </div>
                </div>  
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtStatus">Trạng thái</label>
                        <span class=""></span>
                        <p-dropdown
                            [options]="statusOption"
                            placeholder="Chọn trạng thái"
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true"
                            formControlName="Status"
                            optionLabel="label"
                            optionValue="value">
                        </p-dropdown>
                    </div>
                </div> 
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtResidentStatus">Tình trạng nhân khẩu</label>
                         <span class="text-danger"> *</span>
                        <p-dropdown
                            [options]="staying"
                            placeholder="Tình trạng nhân khẩu"
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true"
                            formControlName="ResidentStatus"
                            optionLabel="label"
                            optionValue="value">
                        </p-dropdown>
                    </div>
                </div>  
                <div class="col-6" *ngIf="!id">
                    <div class="field p-fluid p-date">
                        <label for="txtDateRent">Ngày bàn giao căn hộ</label>
                        <span class=""></span>
                        <p-calendar id="txtDateRent" type="date" [showIcon]="true" inputId="icon" formControlName="DateRent"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div> 
                <div class="col-6" *ngIf="fCustomer.get('ResidentStatus').value == 1">
                    <div class="field p-fluid">
                        <label for="txtRegistrationNo">Số ĐK tạm trú</label>
                         <span class="text-danger"> *</span>
                        <input id="txtRegistrationNo" type="text" pInputText formControlName="RegistrationNo">
                    </div>
                </div>  
                <div class="col-6">
                    <div class="field p-fluid p-date" *ngIf="fCustomer.get('ResidentStatus').value == 1">
                        <label for="txtRegistrationStart">ĐK tạm trú từ ngày</label>
                        <span class=""></span>
                        <p-calendar id="txtRegistrationStart" type="date" [showIcon]="true" inputId="icon" formControlName="RegistrationStart"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div> 
                <div class="col-6">
                    <div class="field p-fluid p-date" *ngIf="fCustomer.get('ResidentStatus').value == 1">
                        <label for="txtRegistrationEnd">ĐK tạm trú đến ngày</label>
                         <span class="text-danger"> *</span>
                        <p-calendar id="txtRegistrationEnd" type="date" [showIcon]="true" inputId="icon" formControlName="RegistrationEnd"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>  
                <div class="col-12 p_float_right">
                    <p-toast></p-toast>
                    <button pButton pRipple type="button" label="Hủy" class="p-button-outlined p-button-secondary mr-2" (click)="onBack()">
                        <span class="pi pi-angle-left"></span>
                    </button>
                    <p-button [label]=" !(id > 0) ? 'Xác nhận' : 'Xác nhận'" [icon]="!(id > 0) ? 'pi pi-plus' : 'pi pi-check'"  
                        [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>




