<div class="grid">
    <div class="col-12">
        <div class="card" [formGroup]="fCard">
            <h5>
                {{ !(id > 0) ? 'Thêm mới phương tiện' : 'Xem chi tiết phương tiện' }}
            </h5>

            <div class="grid formgrid" >         
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Tên phương tiện
                            <span class=""></span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="Name">
                        <small *ngIf="fCard.controls['Name'].hasError('minlength')" class="p-invalid text-danger">Tên dự án phải tối thiểu 6 kí tự.</small>
                        <small *ngIf="fCard.controls['Name'].hasError('maxlength')" class="p-invalid text-danger">Tên dự án chỉ được tối đa 150 kí tự.</small>
                        <small *ngIf="fCard.controls['Name'].hasError('required') && fCard.controls['Name'].dirty" class="p-invalid text-danger">Vui lòng nhập tên tầng.</small> 
                    </div>
                </div>            
                <div class="col-12">
                    <div class="field p-fluid">
                        <div>
                            <label for="txtAddress">Mô tả</label>
                        </div>
                        <textarea id="txtNote" class="w-100" rows="5" pInputTextarea formControlName="Note"></textarea>
                    </div>
                </div>

                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                        <span class="pi pi-angle-left"></span>
                    </button>
                    <p-button [label]=" !(id > 0) ? 'Thêm mới' : 'Cập nhật'" [icon]="!(id > 0) ? 'pi pi-plus' : 'pi pi-check'"  
                        [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


