<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Quản lý kiểu thẻ</h4>
            <div class="textFilterProj">
                <span>Tìm kiếm</span>
                <div class="formSearchText w-30">
                    <input type="text" placeholder="Tìm kiếm theo tên kiểu thẻ... " name="searchProject" [(ngModel)]="filterParrams.query" 
                    (keyup.Enter)="onSearch($event)" value="" class="StextSingle_Project" [ngModelOptions]="{standalone: true}">
                    <button class="iconbtnSearch" (onClick)="onSearch($event)"><i _ngcontent-wsc-c163="" aria-hidden="true" class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">            
            <!-- <section class="FilterProject">
                <div class="textFilterProj">
                    <div class="addProjectList">
                        <a href="#/config-utilities/config-card/create" class="mg-l-9"><i class="fa fa-plus-circle"
                            aria-hidden="true"></i> Thêm mới</a>
                    </div>
                </div>
            </section> -->
            <section class="FilterProject mb-2">
                <div class="addProjectList btn-options">
                    <button type="button" pButton icon="fa fa-plus-circle" label="Thêm mới" routerLink="/config-utilities/config-card/create"></button>
                </div>
            </section>
            <p-table 
                [value]="lstConfigCard"
                [paginator]="true"
                [rows]="filterParrams.page_size"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="isLoadingTable">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th style="width: 5%">Stt</th>
                        <th style="width: 30%">Tên kiểu thẻ</th>
                        <th style="width: 10%">Khu đô thị</th>
                        <th style="width: 30%">Tòa nhà</th>
                        <th style="width: 10%">Trạng thái</th>
                        <th style="width: 15%">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-configCard let-rowIndex="rowIndex">
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="configCard"></p-tableCheckbox>
                        </td> -->
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ getConfigCardName(configCard.ConfigCardDetail) }}</td>
                        <td>{{ getProjectName(configCard.ProjectId) }}</td>
                        <td [pTooltip]="getTowerName(configCard.TowerIds)" tooltipPosition="bottom">
                            {{ getTowerName(configCard.TowerIds) }}
                        </td>
                        <td>
                            <span><i class='pi pi-check text-success' [ngClass]="configCard.IsActive ? 'pi-check text-success' : 'pi pi-times text-danger'"></i> {{ configCard.IsActive ? 'Đã kích hoạt' : "Chưa kích hoạt" }}</span>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/config-utilities/config-card/detail/{{ configCard.IdIndex }}"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete(configCard)"></button>
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template> -->
                <ng-template pTemplate="emptymessage">
                    <tr>
                         <td colspan="10" class="text-center text-danger">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>