<div class="container-manage">
    <div [formGroup]="fUserRole">
        <span class="title"><img src="assets/imgs/svg/ic-title-screen.svg" class="mr-3" />{{ !(Id > 0) ? 'Thêm mới người
            dùng hệ thống' : 'Cập nhật người dùng hệ thống' }}</span>
        <div class="grid formgrid mt-3">
            <div class="col-6">
                <div class="field p-fluid">
                    <label for="txtFullName" class="text-label">Tên người dùng hệ thống
                        <span class="text-danger"> *</span>
                    </label>
                    <input id="txtFullName" type="text" pInputText formControlName="FullName" class="form-input">
                    <small *ngIf="fUserRole.controls['FullName'].hasError('minlength')"
                        class="p-invalid text-danger">Tên dự án phải tối thiểu 3 kí tự.</small>
                    <small *ngIf="fUserRole.controls['FullName'].hasError('maxlength')"
                        class="p-invalid text-danger">Tên dự án chỉ được tối đa 25 kí tự.</small>
                    <small
                        *ngIf="fUserRole.controls['FullName'].hasError('required') && fUserRole.controls['FullName'].dirty"
                        class="p-invalid text-danger">Vui lòng nhập Tên người dùng hệ thống.</small>
                </div>
            </div>
            <div class="col-6">
                <div class="field p-fluid">
                    <label for="txtEmail" class="text-label">Email
                        <span class="text-danger"> *</span>
                    </label>
                    <input id="txtEmail" type="email" pInputText formControlName="Email" class="form-input">
                    <small *ngIf="fUserRole.controls['Email'].hasError('required') && fUserRole.controls['Email'].dirty"
                        class="p-invalid text-danger">Vui lòng nhập Email.</small>
                </div>
            </div>
            <div class="col-6">
                <div class="field p-fluid">
                    <label for="txtAddress" class="text-label">Địa chỉ</label>
                    <input id="txtAddress" type="text" pInputText formControlName="Address" class="form-input">
                    <small
                        *ngIf="fUserRole.controls['Address'].hasError('required') && fUserRole.controls['Address'].dirty"
                        class="p-invalid text-danger">Vui lòng nhập Địa chỉ.</small>
                </div>
            </div>
            <div class="col-6">
                <div class="field p-fluid">
                    <label for="txtUserName" class="text-label">Tài khoản <span class="text-danger"> *</span></label>
                    <i class="float-right">
                        <small *ngIf="fUserRole.controls['UserName'].hasError('minlength')"
                            class="p-invalid text-danger">Tài khoản phải tối thiểu 6 kí tự.</small>
                        <small *ngIf="fUserRole.controls['UserName'].hasError('maxlength')"
                            class="p-invalid text-danger">Tài khoản chỉ được tối đa 15 kí tự.</small>
                        <small
                            *ngIf="fUserRole.controls['UserName'].hasError('required') && fUserRole.controls['UserName'].dirty"
                            class="p-invalid text-danger">Vui lòng nhập Tài khoản.</small>
                    </i>
                    <input type="text" id="txtUserName" pInputText autocomplete="chrome-off" formControlName="UserName"
                        class="form-input" />
                </div>
            </div>
            <div class="col-6" *ngIf="!(Id > 0)">
                <div class="field p-fluid">
                    <label for="txtPassword" class="text-label">Mật khẩu <span class="text-danger"> *</span></label>
                    <p-password formControlName="Password" id="txtPassword" autocomplete="off"
                        placeholder="Nhập mật khẩu" [toggleMask]="true" (input)="matchingPasswords()"
                        style="border-radius: 6px;"></p-password>
                    <small
                        *ngIf="fUserRole.controls['Password'].hasError('required') && fUserRole.controls['Password'].dirty"
                        class="p-invalid text-danger">Vui lòng nhập mật khẩu!</small>
                    <small *ngIf="fUserRole.controls['Password'].hasError('pattern') && fUserRole.controls['Password'].dirty" class="p-invalid text-danger">
                        Mật khẩu yêu cầu chữ hoa, chữ thường, số và tối thiểu 6 ký tự!
                    </small>
                </div>
            </div>
            <div class="col-6" *ngIf="!(Id > 0)">
                <div class="field p-fluid">
                    <label for="txtPassword" class="text-label">Nhập lại mật khẩu <span class="text-danger">
                            *</span></label>
                    <p-password formControlName="ConfirmPassword" id="txtPassword" autocomplete="off"
                        placeholder="Nhập lại mật khẩu" [toggleMask]="true" (input)="matchingPasswords()"
                        style="border-radius: 6px;"></p-password>
                    <small *ngIf="fUserRole.controls['ConfirmPassword'].hasError('mismatchedPasswords')"
                        class="p-invalid text-danger">Mật khẩu nhập lại không khớp!</small>

                    <small
                        *ngIf="fUserRole.controls['ConfirmPassword'].hasError('required') && fUserRole.controls['ConfirmPassword'].dirty"
                        class="p-invalid text-danger">Vui lòng nhập lại Mật khẩu!</small>
                </div>
            </div>
            <form name="form" class="form-custom col-12" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                <div>
                    <div class="infoPackage">
                        <div class="inDetailPackage">
                            <div class="AddForm_Package">
                                <div class="ColForm_AddPackage">
                                    <label for="" class="text-lab">Nhóm quyền</label>
                                    <p-table [value]="listRole" [tableStyle]="{ 'min-width': '50rem' }"
                                        [loading]="isLoadingTable" [(selection)]="selectedRole">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th class="w-15">STT</th>
                                                <th class="w-50">Tên nhóm quyền</th>
                                                <th class="text-center w-15">
                                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-functionrole let-rowIndex="rowIndex">
                                            <tr>
                                                <td>{{ rowIndex + 1 }}</td>
                                                <td>{{ functionrole.name }}</td>
                                                <td class="text-center">
                                                    <p-tableCheckbox [value]="functionrole"></p-tableCheckbox>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="10" class="text-center text-danger">Không có dữ liệu.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <p-paginator (onPageChange)="onPageChange($event)" [rows]="10"
                                        [totalRecords]="totalElements" [showCurrentPageReport]="true"
                                        currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                                        [rowsPerPageOptions]="[10, 25, 50]" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-12 p_float_right mt-4">
                <p-toast></p-toast>
                <button class="btn btn-close p-button-outlined p-button-secondary mr-3" (click)="onBack($event)">
                    <img src="assets/imgs/svg/ic-close-circle.svg" class="mr-3" />Hủy
                </button>
                <button class="btn btn-digi" (click)="onSubmit()"><img src="assets/imgs/svg/ic-save.svg"
                        class="mr-3" />Lưu thông tin</button>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>