<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Danh sách loại hình</h4>
            <div class="textFilterProj">
                <span>Tìm kiếm</span>
                <div class="formSearchText w-30">
                    <input type="text" placeholder="Tìm kiếm theo mã, tên loại hình... " name="searchProject" [(ngModel)]="search" 
                    (keyup.Enter)="onSearch($event)" (keyup)="isInputEmpty = search === ''" value="" class="StextSingle_Project">
                    <button class="iconbtnSearch"  *ngIf="!isInputEmpty"><span class="pi pi-times mg-t-10" style="font-size: 1rem" (click)="onClearInput()"></span></button>
                </div>
                
            </div>
            
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">            
            <section class="FilterProject">
                <div class="textFilterProj">
                    <div class="addProjectList">
                        <a href="#/commons/type-attributes/create" class="mg-l-9 addList"><i class="fa fa-plus-circle"
                            aria-hidden="true"></i> Thêm mới</a>
                    </div>
                </div>
            </section>

            <p-table 
                [value]="lstProvinces"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="isLoadingTable">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 5%">Stt</th>
                        <th style="width: 20%">Tên hiển thị</th>
                        <th style="width: 20%">Được sửa</th>
                        <th style="width: 20%">Được xóa</th>
                        <th style="width: 20%">Ngày tạo</th>
                        <th style="width: 15%">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-type let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="type"></p-tableCheckbox>
                        </td>
                        <td>{{ rowIndex + 1}}</td>
                        <td>{{ type.Name }}</td>
                        <td>{{ type.IsUpdate }}</td>
                        <td>{{ type.IsDelete }}</td>
                        <td>{{ type.CreatedAt }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" routerLink="/commons/type-attribute/update{{type.Id}}" ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="text-center">
                                 <td colspan="10" class="text-center text-danger">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>