.password-label {
    display: flex;
    align-items: center;
}

.password-hint {
    margin-left: auto;
    font-size: 0.875em; /* Optional: adjust the font size */
    color: #666; /* Optional: adjust the color */
}