<div class="grid">
    <div class="col-12">
        <h3>
            {{
                !(id > 0)
                    ? "Đăng ký cấp mới thẻ"
                    : "Chi tiết đăng ký cấp mới"
            }}
        </h3>
        <div class="card" [formGroup]="fResidentService">
            <div class="grid formgrid mg-l-9">
                <div class="grid gr-re">
                    <div class="grid gr-re">
                        <div class="col-12 mg-t-2">
                            <h4>Thông tin căn hộ</h4>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtDistrict">Khu đô thị</label>
                                <span class="text-danger"> *</span>
                                <ng-select 
                                    [items]="Project"
                                    [virtualScroll]="true" 
                                    [loading]="false" 
                                    formControlName="ProjectId"
                                    placeholder="Khu đô thị"
                                    bindLabel="Name" 
                                    bindValue="Id"
                                    #selectTower
                                    pDropdown
                                    (change)="onSelectTower($event)">
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <span [ngOptionHighlight]="search">{{item.Name}}</span>
                                    </ng-template>
                                </ng-select>
                                <small *ngIf="fResidentService.controls['ProjectId'].hasError('required') && fResidentService.controls['ProjectId'].dirty" class="p-invalid text-danger">Vui lòng chọn Khu đô thị</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtProject">Tòa nhà</label>
                                <span class="text-danger"> *</span>
                                <ng-select 
                                    [items]="lstTower"
                                    [virtualScroll]="true" 
                                    [loading]="false" 
                                    formControlName="TowerId"
                                    placeholder="Tòa nhà"
                                    bindLabel="Name" 
                                    bindValue="Id"
                                    (scrollToEnd)="fetchMoreTower()"
                                    #selectTower
                                    pDropdown
                                    (change)="onSelectFloor($event)">
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <span [ngOptionHighlight]="search">{{item.Name}}</span>
                                    </ng-template>
                                </ng-select>
                                <small *ngIf="fResidentService.controls['TowerId'].hasError('required') && fResidentService.controls['TowerId'].dirty" class="p-invalid text-danger">Vui lòng chọn Tòa nhà</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtProject">Tầng</label>
                                <span class="text-danger"> *</span>
                                <ng-select 
                                    [items]="lstFloor"
                                    [virtualScroll]="true" 
                                    [loading]="false" 
                                    formControlName="FloorId"
                                    placeholder="Tầng"
                                    bindLabel="Name" 
                                    bindValue="Id"
                                    (scrollToEnd)="fetchMoreFloor()"
                                    #selectFloor
                                    pDropdown
                                    (change)="onSelectApartment($event)">
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <span [ngOptionHighlight]="search">{{item.Name}}</span>
                                    </ng-template>
                                </ng-select>
                                <small *ngIf="fResidentService.controls['FloorId'].hasError('required') && fResidentService.controls['FloorId'].dirty" class="p-invalid text-danger">Vui lòng chọn Tầng</small>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtProject">Căn hộ</label>
                                <span class="text-danger"> *</span>
                                <ng-select 
                                    [items]="lstApartment"
                                    [virtualScroll]="true" 
                                    [loading]="false" 
                                    formControlName="ApartmentId"
                                    placeholder="Căn hộ"
                                    bindLabel="Name" 
                                    bindValue="Id"
                                    (scrollToEnd)="fetchMore()"
                                    #selectApartment
                                    (change)="onSelect($event)"
                                    pDropdown>
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <span [ngOptionHighlight]="search">{{item.Name}}</span>
                                    </ng-template>
                                </ng-select>
                                <small *ngIf="fResidentService.controls['ApartmentId'].hasError('required') && fResidentService.controls['ApartmentId'].dirty" class="p-invalid text-danger">Vui lòng chọn Căn hộ</small>
                            </div>
                        </div>
                        <div class="col-6" formGroupName="infoApartmentOwner">
                            <div class="field p-fluid">
                                <label for="txtAddress">Tên chủ hộ
                                    <span class="text-danger"> *</span>
                                </label>
                                <input id="txtAddress" type="text" pInputText formControlName="FullName" disabled="true">
                                <small *ngIf="fResidentService.controls.infoApartmentOwner.controls['FullName'].hasError('required') && fResidentService.controls.infoApartmentOwner.controls['FullName'].dirty" class="p-invalid text-danger">Tên chủ hộ không được để chống</small>
                            </div>
                        </div>
                        <div class="col-6" formGroupName="infoApartmentOwner">
                            <div class="field p-fluid">
                                <label for="txtPhone">Số điện thoại </label>
                                <span class="text-danger"> *</span>
                                <input id="txtPhone" placeholder="VD:0321642644" type="text" pInputText
                                    formControlName="Phone">
                                    <small *ngIf="fResidentService.controls.infoApartmentOwner.controls['Phone'].hasError('required') && fResidentService.controls.infoApartmentOwner.controls['Phone'].dirty" class="p-invalid text-danger">Số điện thoại chủ hộ không được để chống</small>
                                </div>
                        </div>
                        <div class="col-6" formGroupName="InfoResidentRegistration">
                            <div class="field p-fluid">
                                <label for="txtAddress">Người đăng ký 
                                    <span class="text-danger"> *</span>
                                </label>
                                <input id="txtAddress" type="text" pInputText formControlName="FullName" disabled="true" placeholder="Người đăng ký">
                                <small *ngIf="fResidentService.controls.InfoResidentRegistration.controls['FullName'].hasError('required') && fResidentService.controls.InfoResidentRegistration.controls['FullName'].dirty" class="p-invalid text-danger">Vui lòng chọn Người đăng ký</small>
                            </div>
                        </div>
                        <div class="col-6" formGroupName="InfoResidentRegistration">
                            <div class="field p-fluid">
                                <label for="txtPhone">Số điện thoại người đăng ký</label>
                                <span class="text-danger"> *</span>
                                <input id="txtPhone" type="text" pInputText formControlName="Phone"  placeholder="Số điện thoại người đăng ký"/>
                                <small *ngIf="fResidentService.controls.InfoResidentRegistration.controls['Phone'].hasError('required') && fResidentService.controls.InfoResidentRegistration.controls['Phone'].dirty" class="p-invalid text-danger">Vui lòng nhập Số điện thoại người đăng ký</small>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12 mg-t-2">
                            <h4>Cư dân về ở</h4>
                        </div>
                        <div class="col-12">
                            <button *ngIf="isLoading == true" (click)="onOpenConfigDialog(id, idr, lst)" type="button" pButton icon="fa fa-plus-circle" label="Thêm mới" class="btn btn-warning mb-2">
                            </button>
                            <p-table [value]="lstResident" [tableStyle]="{ 'min-width': '50rem' }"
                                [loading]="isLoadingTable">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th >STT</th>
                                        <th >Họ tên</th>
                                        <th >Ngày sinh</th>
                                        <th >Giới tính</th>
                                        <th >Quan hệ với chủ hộ</th>
                                        <th >Điện thoại</th>
                                        <th >Số giấy tờ</th>
                                        <th *ngIf="Card == true" class="text-center">Hành động</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                                    <tr>
                                        <td>
                                            {{ rowIndex + 1 }}
                                        </td>
                                        <td>{{ item.FullName }}</td>
                                        <td>{{ item.DateOfBirth | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ item.genderName }}</td>
                                        <td>{{ item.statusOptionName }}</td>
                                        <td>{{ item.Phone }}</td>
                                        <td>{{ item.IdentityNumber }}</td>
                                        <td>
                                            <button *ngIf="Card == true" pButton pRipple icon="pi pi-pencil"
                                                class="p-button-rounded p-button-success mr-2 mg-l-2" (click)="onOpenConfigDialog(id, item.Id, item)"></button>
                                            <button *ngIf="isLoading == true" pButton pRipple icon="pi pi-trash"
                                                class="p-button-rounded p-button-warning" (click)="onDeleteResidentMoveIn(item.Id)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="10" class="text-center text-danger">
                                            Không có dữ liệu.
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="col-12">
                            <div class="col-12 mg-t-2 mg-l-b">
                                <h4>Thẻ cư dân</h4>
                            </div>
                            <button *ngIf="isLoading == true" (click)="onOpenConfigDialogCard(id, idc, lst)" type="button" pButton icon="fa fa-plus-circle" label="Thêm mới" class="btn btn-warning mb-2">
                            </button>
                            <p-table [value]="lstResidentCards" [tableStyle]="{ 'min-width': '50rem' }"
                                [loading]="isLoadingTable">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th >STT</th>
                                        <th >Mã số thẻ</th>
                                        <th >Họ tên</th>
                                        <th >Ngày sinh</th>
                                        <th >Giới tính</th>
                                        <th >Quan hệ với chủ hộ</th>
                                        <th >Điện thoại</th>
                                        <th >Số giấy tờ</th>
                                        <th *ngIf="Card == true" class="text-center">Hành động</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                                    <tr>
                                        <td>
                                            {{ rowIndex + 1 }}
                                        </td>
                                        <td>{{ item.CardNumber }}</td>
                                        <td>{{ item.FullName }}</td>
                                        <td>{{ item.DateOfBirth | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ item.genderName }}</td>
                                        <td>{{ item.statusOptionName }}</td>
                                        <td>{{ item.Phone }}</td>
                                        <td>{{ item.IdentityNumber }}</td>
                                        <td>
                                            <button *ngIf="Card == true" pButton pRipple icon="pi pi-pencil"
                                                class="p-button-rounded p-button-success mr-2 mg-l-2" (click)="onOpenConfigDialogCard(id, item.Id, item)"></button>
                                            <button *ngIf="isLoading == true" pButton pRipple icon="pi pi-trash"
                                                class="p-button-rounded p-button-warning" (click)="onDeleteResidentCard(item.Id)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="12" class="text-center text-danger">
                                            Không có dữ liệu.
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="col-12">
                            <div class="col-12 mg-t-2 mg-l-b">
                                <h4>Thẻ xe</h4>
                            </div>
                            <button *ngIf="isLoading == true" (click)="onOpenConfigDialogCar(id, carId, carCard)" type="button" pButton icon="fa fa-plus-circle" label="Thêm mới" class="btn btn-warning mb-2">
                            </button>
                            <p-table class="mg-t-2" [value]="lstCarCards"
                                [tableStyle]="{ 'min-width': '50rem' }" [loading]="isLoadingTable">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th >STT</th>
                                        <th >Mã số thẻ</th>
                                        <th >Chủ phương tiện</th>
                                        <th >Biển kiểm soát</th>
                                        <th >Nhãn hiệu</th>
                                        <th >Màu xe</th>
                                        <th >Loại xe</th>
                                        <th *ngIf="Card == true" class="text-center">Hành động</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                                    <tr>
                                        <td>
                                            {{ rowIndex + 1 }}
                                        </td>
                                        <td>{{ item.CardNumber }}</td>
                                        <td>{{ item.VehicleOwner }}</td>
                                        <td>{{ item.VehiclePlate }}</td>
                                        <td>{{ item.VehicleName }}</td>
                                        <td>{{ item.VehicleColor }}</td>
                                        <td>{{ item.VehicleType }}</td>
                                        <td class="text-center">
                                            <button *ngIf="Card == true" pButton pRipple icon="pi pi-pencil"
                                                class="p-button-rounded p-button-success mr-2" (click)="onOpenConfigDialogCar(id, item.Id, item)"></button>
                                            <button *ngIf="isLoading == true" pButton pRipple icon="pi pi-trash"
                                                class="p-button-rounded p-button-warning" (click)="onDeleteCarCard(item.Id)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="10" class="text-center text-danger">
                                            Không có dữ liệu.
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="grid mg-t-2">
                        <div class="col-12 dp-flex">
                            <h4 class="mr-2">Phản hồi từ BQL</h4>
                            <!-- <label><input type="checkbox" formControlName="SendtoBoss" />Gửi lên cấp trên</label> -->
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid droplist-item">
                                <label for="txtProcessStatus">Trạng thái</label>
                                <span class=""></span>
                                <p-dropdown 
                                    [options]="ProcessStatus" 
                                    placeholder="Trạng thái đăng ký" 
                                    emptyMessage="Không có dữ liệu." 
                                    [showClear]="true"
                                    formControlName="ProcessStatus" 
                                    optionLabel="name" 
                                    optionValue="id" 
                                    (onChange)="onSetProcessStatus($event)">
                                    <ng-template let-item pTemplate="item">
                                        <li [ngClass]="{'disabled': item.disable}">
                                            <option [value]="item.id" [disabled]="item.disable">{{item.name}}</option>
                                        </li>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid">
                                <label for="txtCode">Phí làm thẻ
                                    <span class=""></span>
                                </label>
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="Fee" class="form-control"
                                        aria-label="Amount (to the nearest dollar)" placeholder="0" (click)="onFee($event)"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" formGroupName="infoPayment">
                            <div class="field p-fluid">
                                <label for="txtTypePayment">Hình thức thanh toán</label>
                                <span class=""></span>
                                <p-dropdown 
                                    [options]="typePayment" 
                                    placeholder="Chọn hình thức" 
                                    emptyMessage="Không có dữ liệu." 
                                    [showClear]="true"
                                    formControlName="TypePayment" 
                                    optionLabel="Name" 
                                    optionValue="Id">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6" formGroupName="infoPayment">
                            <div class="field p-fluid">
                                <label for="txtStatusPayment">Trạng thái thanh toán</label>
                                <span class=""></span>
                                <p-dropdown 
                                    [options]="statusPayment" 
                                    placeholder="Trạng thái thanh toán" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="StatusPayment" 
                                    optionLabel="Name"
                                    optionValue="Id"
                                    (onChange)="setStatusReceive()">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6" formGroupName="infoPayment">
                            <div class="field p-fluid">
                                <label for="txtStatusReceive">Trạng thái BQL nhận tiền</label>
                                <span class=""></span>
                                <p-dropdown 
                                    [options]="statusReceive" 
                                    placeholder="Trạng thái nhận tiền" 
                                    emptyMessage="Không có dữ liệu."
                                    [showClear]="true" 
                                    formControlName="StatusReceive" 
                                    optionLabel="Name"
                                    optionValue="Id">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtDateAppointmentResponse">Ngày hẹn trả
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtDateAppointmentResponse" [showIcon]="true" inputId="icon" type="DateAppointmentResponse"
                                    formControlName="DateAppointmentResponse" placeholder="Ngày hẹn trả thẻ"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field p-fluid p-date">
                                <label for="txtDateActualResponse">Ngày trả thẻ
                                    <span class=""></span>
                                </label>
                                <p-calendar id="txtDateActualResponse" [showIcon]="true" inputId="icon" type="DateActualResponse"
                                    formControlName="DateActualResponse" placeholder="Ngày trả thẻ"  dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col-12" formGroupName="messageResponse">
                            <div class="field p-fluid">
                                <div>
                                    <label for="txtFeedback">Phản hồi từ BQL tới cư dân</label>
                                </div>
                                <textarea id="txtFeedback" class="w-100" rows="5" pInputTextarea
                                    formControlName="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12 dp-flex">
                            <h4 class="mr-2">Đánh giá của cư dân</h4>
                            <!-- <label><input type="checkbox" formControlName="SendtoBoss" />Gửi lên cấp trên</label> -->
                        </div>
                    <div class="col-12">
                        <div class="field p-fluid w-30">
                            <!-- <label for="txtDistrict">Trạng thái</label>
                            <span class=""></span> -->
                            <p-dropdown
                                [options]="[
                                    { label: 'Tệ', value: 1 },
                                    { label: 'Trung bình', value: 2 },
                                    { label: 'Hài lòng', value: 3 },
                                    { label: 'Tốt', value: 4 },
                                    { label: 'Tuyệt vời', value: 5 }, ]"
                                placeholder="Chọn đánh giá"
                                emptyMessage="Không có dữ liệu."
                                [showClear]="true"
                                formControlName="StatusResident"
                                optionLabel="label"
                                optionValue="value" 
                                [disabled]="true">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="field p-fluid">
                            <label for="txtName">Đánh giá của cư dân</label>
                            <span class="text-danger"> *</span>
                            <input id="txtName" placeholder="Nhập đánh giá" type="text" pInputText formControlName="Evaluate" [disabled]="true">
                        </div>
                    </div>
                </div>        
                <div class="col-12 p_float_right mt-4">
                    <p-confirmDialog class="custom-toast"></p-confirmDialog>
                    <button pButton pRipple type="button" label="Nhật ký đơn" class="p-button-success mr-3" (click)="onBack($event)"></button>
                    <button *ngIf="isCancel == true" pButton pRipple type="button" label="Hủy đơn" class="p-button-warning mr-3" (click)="onCancel()"></button>
                    <button pButton pRipple type="button" label="Quay lại" class="p-button-outlined p-button-secondary mr-3" (click)="onBack($event)"></button>
                    <p-button label='Xác nhận' icon='pi pi-check' [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>