<div class="web-screen">
    <div
        class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden bgr-login">
        <form [formGroup]="fResetPass">
            <div class="flex flex-column justify-content-center form-login">
                <img src="../../../../assets/imgs/svg/ic-logo-digi.svg"
                    style="margin-top: 1.4rem; width: 222px; margin-left: auto; margin-right: auto;" />
                <span class="title" *ngIf="step1">Nhập email của bạn</span>
                <span class="title" *ngIf="step2">Nhập mã xác thực</span>
                <span class="title" *ngIf="step3">Thiết lập lại mật khẩu của bạn</span>
                <div class="step-1 flex flex-column justify-content-center" *ngIf="step1">
                    <span class="content">Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn mã xác thực để
                        đặt lại mật khảu</span>
                    <div class="container-input mb-5">
                        <input formControlName="email" id="email1" type="text" placeholder="Email" pInputText
                            class="w-full form-input" style="padding:1rem;" [ngClass]="{'is-valid': isCheckEmail}">
                        <div class="ml-3 mt-2">
                            <i *ngIf="isCheckEmail" class="p-invalid text-danger">
                                <img src="../../../../assets/imgs/icons/ic-error.png" />
                                Vui lòng nhập lại email
                            </i>
                        </div>
                    </div>
                    <button class="btn btn-digi-login w-full" (click)="nexStep(1)">Tiếp tục</button>
                </div>
                <div class="step-2" *ngIf="step2">
                    <div class="container-input">
                        <input formControlName="otp" id="otp" type="text" placeholder="Nhập mã xác thực" pInputText
                            class="w-full form-input" style="padding:1rem;"
                            [ngClass]="{'is-valid': isCheckOTP}">
                        <div class="ml-2 mt-2">
                            <i *ngIf="isCheckOTP" class="p-invalid text-danger">
                                <img src="../../../../assets/imgs/icons/ic-error.png" />
                                Bạn chưa nhập mã xác thực
                            </i>
                        </div>
                        <div class="otp flex align-items-center justify-content-between">
                            <span class="text-resend" [ngClass]="{'disabled': countdown > 0}" (click)="resendOTP()">Gửi
                                lại mã OTP</span>
                            <div class="d-flex align-items-center">
                                <div id="countdown">
                                    <div id="countdown-number">{{time}}</div>
                                    <svg>
                                        <circle r="18" cx="20" cy="20"></circle>
                                    </svg>
                                </div>
                                <span
                                    style="font-size: 15px; font-weight: 400; line-height: 20px; color: #454D5B; margin-left: 10px;">giây</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-digi-login w-full mt-3" (click)="nexStep(2)">Tiếp tục</button>
                </div>
                <div class="step-3" *ngIf="step3">
                    <div class="container-input">
                        <input formControlName="password" id="password" [type]="isShowPass ? 'text' : 'password'"
                            placeholder="Mật khẩu mới" pInputText [ngClass]="{'is-valid': isLoginFailed}"
                            class="w-full form-input" style="padding:1rem" (input)="matchingPasswords()" />
                        <span class="text-danger" class="require-new-pass"
                            *ngIf="!fResetPass.get('password')?.value">*</span>
                        <img src="assets/imgs/svg/{{iconEye}}.svg" class="ic-eye" style="padding: 5px;"
                            (click)="showPass()" />
                        <i
                            *ngIf="fResetPass.controls['password'].hasError('required') && fResetPass.controls['password'].dirty"
                            class="p-invalid text-danger"><img src="../../../../assets/imgs/icons/ic-error.png" /> Vui
                            lòng nhập mật khẩu mới.</i>
                        <i *ngIf="fResetPass.controls['password'].hasError('pattern')"
                            class="p-invalid text-danger">
                            <img src="../../../../assets/imgs/icons/ic-error.png" /> <img src="../../../../assets/imgs/icons/ic-error.png" /> Mật khẩu phải có chữ hoa, chữ
                            thường, số và tối thiểu 6 ký tự.
                        </i>
                    </div>
                    <div class="container-input mt-4">
                        <input formControlName="confirmPassword" id="password"
                            [type]="isShowConfirmPass ? 'text' : 'password'" placeholder="Xác nhận mật khẩu" pInputText
                            [ngClass]="{'is-valid': isLoginFailed}" class="w-full form-input" style="padding:1rem"
                            (input)="matchingPasswords()" />
                        <span class="text-danger" class="require-confirm-pass"
                            *ngIf="!fResetPass.get('confirmPassword')?.value">*</span>
                        <img src="assets/imgs/svg/{{iconEyeConfirm}}.svg" class="ic-eye" style="padding: 5px;"
                            (click)="showConfirmPass()" />
                        <i *ngIf="fResetPass.controls['confirmPassword'].hasError('mismatchedPasswords')"
                            class="p-invalid text-danger">Mật khẩu nhập lại không khớp.</i>
                        <i
                            *ngIf="fResetPass.controls['confirmPassword'].hasError('required') && fResetPass.controls['confirmPassword'].dirty"
                            class="p-invalid text-danger">Vui lòng nhập lại mật khẩu.</i>
                    </div>
                    <button class="btn btn-digi-login w-full mt-4" (click)="onSubmit()">Xác nhận</button>
                </div>
                <span class="text-return" (click)="returnLogin()">Quay lại đăng nhập</span>
            </div>
        </form>
    </div>
</div>

<!-- Giao diện mobile -->

<div class="mobile-screen">
    <form [formGroup]="fResetPass">
        <div
            class="container-login surface-ground flex flex-column justify-content-center min-w-screen overflow-hidden">
            <img src="../../../../assets/imgs/svg/ic-logo-digi.svg"
                style="margin-top: 1.4rem; width: 222px; margin-left: auto; margin-right: auto;" />
            <span class="title">Thiết lập mật khẩu của bạn</span>
            <div class="step-1 flex flex-column justify-content-center" *ngIf="step1">
                <span class="content">Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho <br /> bạn mã xác thực để đặt
                    lại mật khảu</span>
                <div class="container-input mb-5">
                    <input formControlName="email" id="email1" type="text" placeholder="Email" pInputText
                        class="w-full form-input" style="padding:1rem;" [ngClass]="{'is-valid': isCheckEmail}">
                    <div class="ml-3 mt-2">
                        <i *ngIf="isCheckEmail" class="p-invalid text-danger">
                            <img src="../../../../assets/imgs/icons/ic-error.png" />
                            Vui lòng nhập lại email
                        </i>
                    </div>
                </div>
                <button class="btn btn-digi-login w-full" (click)="nexStep(1)">Tiếp tục</button>
            </div>
            <div class="step-2" *ngIf="step2">
                <div class="container-input">
                    <input formControlName="otp" id="otp" type="text" placeholder="Nhập mã xác thực" pInputText
                        class="w-full mb-3 form-input" style="padding:1rem;" [ngClass]="{'is-valid': isLoginFailed}">
                    <div class="otp flex align-items-center justify-content-between">
                        <span>Gửi lại mã OTP</span>
                        <div class="d-flex align-items-center">
                            <div id="countdown">
                                <div id="countdown-number">{{time}}</div>
                                <svg>
                                    <circle r="18" cx="20" cy="20"></circle>
                                </svg>
                            </div>
                            <span
                                style="font-size: 15px; font-weight: 400; line-height: 20px; color: #454D5B; margin-left: 10px;">giây</span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-digi-login w-full mt-3" (click)="nexStep(2)">Tiếp tục</button>
            </div>
            <div class="step-3" *ngIf="step3">
                <div class="container-input">
                    <input formControlName="password" id="password" [type]="isShowPass ? 'text' : 'password'"
                        placeholder="Mật khẩu mới" pInputText [ngClass]="{'is-valid': isLoginFailed}"
                        class="w-full form-input" style="padding:1rem" />
                    <img src="../../../../assets/imgs/icons/ic-eye-show.png" class="ic-eye" style="padding: 5px;"
                        (click)="showPass()" />
                </div>
                <div class="container-input mt-4">
                    <input formControlName="confirmPassword" id="password"
                        [type]="isShowConfirmPass ? 'text' : 'password'" placeholder="Xác nhận mật khẩu" pInputText
                        [ngClass]="{'is-valid': isLoginFailed}" class="w-full form-input" style="padding:1rem" />
                    <img src="../../../../assets/imgs/icons/ic-eye-show.png" class="ic-eye" style="padding: 5px;"
                        (click)="showConfirmPass()" />
                </div>
                <button class="btn btn-digi-login w-full mt-4" (click)="onSubmit()">Xác nhận</button>
            </div>
            <span class="text-return" (click)="returnLogin()">Quay lại đăng nhập</span>
        </div>
    </form>
</div>