:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
    color: var(--primary-color) !important;
}

.bgr-login {
    background-image: url('/assets/imgs/image/bgr-login-web.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-login {
    background-image: url('/assets/imgs/image/bgr-form-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.7rem;
    border-radius: 27px;
    border: 1px solid #4285F4;
    width: 436px;
    height: 583px;
}

.title {
    font-size: 2.14rem;
    font-weight: 700;
    line-height: 34.14px;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 45px;
    color: #405189;
}

.container-input {
    position: relative;
}

.form-input {
    border-radius: 17px;
    border: 1px solid #CCCCCC;
    font-size: 1.05rem;
}

.form-input.is-valid {
    border-color: #EB4335;
}

.content {
    font-size: 1.14rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: center;
    color: #555555;
    margin-bottom: 25px;
}

.text-return {
    font-size: 1.14rem;
    font-weight: 600;
    line-height: 18.75px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 60px;
    color: #4285F4;
}

.ic-eye {
    position: absolute;
    top: 1rem;
    right: .85rem;
}


#countdown {
    position: relative;
    margin: auto;
    height: 40px;
    width: 40px;
    text-align: center;
}

#countdown-number {
    color: #2D4CAF;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 150px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke: #4285F4;
    fill: none;
    // animation: countdown 20s linear alternate forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 150px;
    }

    to {
        stroke-dashoffset: 0px;
    }
}


@media only screen and (max-width: 600px) {
    .container-login {
        background-image: url('/assets/imgs/image/bgr-login-mobile.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        padding: 0 24px
    }

    .title {
        font-size: 1.85rem;
        font-weight: 700;
        line-height: 2.14rem;
        text-align: center;
        margin-bottom: 35px;
    }
}

.text-resend {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #4285F4;
    cursor: pointer;
}

.disabled {
    color: #4285F4 !important;
    opacity: 60% !important;
}

.require-new-pass {
    position: absolute;
    top: 14px;
    left: 108px;
    color: red;
}

.require-confirm-pass {
    position: absolute;
    top: 14px;
    left: 142px;
    color: red;
}