<div class="grid">
    <div class="col-12">
        <div class="card" [formGroup]="fWaterIndex">
            <h2>
                Cập nhật chỉ số nước 
            </h2>
            <div class="grid formgrid">
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtDate">Kỳ thông báo</label>
                        <p-calendar
                            id="txtDate"
                            [showIcon]="true"
                            inputId="icon"
                            type="Date"
                            formControlName="Notice"
                          dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtDate">Từ ngày</label>
                        <p-calendar
                            id="txtDate"
                            [showIcon]="true"
                            inputId="icon"
                            type="Date"
                            formControlName="DateStart"
                          dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtDate">Đến ngày</label>
                        <p-calendar
                            id="txtDate"
                            [showIcon]="true"
                            inputId="icon"
                            type="Date"
                            formControlName="DateEnd"
                          dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtDate">Ngày thanh toán</label>
                        <p-calendar
                            id="txtDate"
                            [showIcon]="true"
                            inputId="icon"
                            type="Date"
                            formControlName="DatePayment"
                          dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtProject">Khu đô thị</label>
                        <span class="text-danger"></span>
                        <p-dropdown
                            [options]="lstProject"
                            placeholder="Chọn khu đô thị"
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true"
                            formControlName="ProjectId"
                            optionLabel="Name"
                            optionValue="Id"
                            (onChange)="getlistTower($event)"
                        >
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtProject">Tòa nhà</label>
                        <span class="text-danger"></span>
                        <p-dropdown
                            [options]="lstTower"
                            placeholder="Chọn tòa nhà"
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true"
                            formControlName="TowerId"
                            optionLabel="Name"
                            optionValue="Id"
                            (onChange)="getListApartmentName($event)"
                        >
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-3">
                    <div class="field p-fluid">
                        <label for="txtProject">Căn hộ</label>
                        <span class="text-danger"></span>
                        <p-dropdown
                            [options]="lstApartment"
                            placeholder="Chọn tòa nhà"
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true"
                            formControlName="ApartmentId"
                            optionLabel="Name"
                            optionValue="Id"
                        >
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-3 mg-t-25">
                    <button
                        type="button"
                        pButton
                        label="Tìm kiếm"
                        (click)="onSearch()"
                    ></button>
                </div>
                <div class="col-12">
                    <div class="w-70 displayflex">
                        <div class="mr-2">
                            <button
                                type="button"
                                pButton
                                label="Import"
                            ></button>
                        </div>
                        <div class="mr-2">
                            <button
                                type="button"
                                class="btn-info"
                                pButton
                                label="Tính toán"
                            ></button>
                        </div>
                        <div class="mr-2">
                            <button
                                type="button"
                                class="btn-secondary"
                                pButton
                                label="Export"
                            ></button>
                        </div>
                        <div class="mr-2">
                            <button
                                type="button"
                                class="btn-success"
                                pButton
                                label="Lưu thông tin"
                                (onClick)="onSubmit()"
                            ></button>
                        </div>
                        <div class="mr-2">
                            <button
                                type="button"
                                class="btn-warning"
                                pButton
                                label="Post"
                            ></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 mg-t-2">
                    <div class="card">
                        <p-table
                            [value]="lstWaterIndex"
                            [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[10, 25, 50]"
                            [tableStyle]="{ 'min-width': '50rem' }"
                            [loading]="isLoadingTable"
                        >
                            <ng-template pTemplate="header">
                                <tr class="th-table">
                                    <th>Stt</th>
                                    <th>Khu đô thị</th>
                                    <th>Tòa nhà</th>
                                    <th>Căn hộ</th>
                                    <th>Khách hàng</th>
                                    <th>Ngày thanh toán</th>
                                    <th>Từ ngày</th>
                                    <th>Đến ngày</th>
                                    <th>Chỉ số cũ</th>
                                    <th>Chỉ số mới</th>
                                    <th>Hệ số</th>
                                    <th>Số tiêu thụ</th>
                                    <th>Tiền trước thuế</th>
                                    <th>Thuế(%)</th>
                                    <th>Tiền sau thuế</th>
                                    <th>Diễn giải</th>
                                </tr>
                            </ng-template>
                            <ng-template
                                pTemplate="body"
                                let-electricindex
                                let-rowIndex="rowIndex"
                            >
                                <tr class="td-table">
                                    <td>{{ rowIndex + 1 }}</td>
                                    <td>{{ electricindex.Name }}</td>
                                    <td>{{ electricindex.Name }}</td>
                                    <td>{{ electricindex.Name}}</td>
                                    <td>{{ electricindex.Name }}</td>
                                    <td>{{ electricindex.Name }}</td>
                                    <td>{{ electricindex.Name }}</td>
                                    <td>{{ electricindex.Name }}</td>
                                    <td>{{ electricindex.Name }}</td>
                                    <td>{{ electricindex.Code }}</td>
                                    <td>{{ electricindex.Code }}</td>
                                    <td>{{ electricindex.Code }}</td>
                                    <td>{{ electricindex.Code }}</td>
                                    <td>{{ electricindex.Code }}</td>
                                    <td>{{ electricindex.Code }}</td>
                                    <td>{{ electricindex.Code }}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr class="text-center">
                                    <td
                                        colspan="12"
                                        class="text-center text-danger"
                                    >
                                        Không có dữ liệu.
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>