.textFilterProj {
    margin-top: 15px;
}
  
.textFilterProj span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
  
textarea.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button.btn {
    margin-right: 10px;
}
  