<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Trình xử lý văn bản</h4>
            <div class="textFilterProj">
                <span>Nhập văn bản ở đây:</span>
                <div>
                    <textarea class="form-control justify-text" [(ngModel)]="text" rows="5"></textarea>
                </div>
                <div>
                    <button class="btn btn-success mr-2" (click)="processText()">Xử lý văn bản</button>
                    <button class="btn btn-danger mr-2" (click)="deleteText()">Xóa dữ liệu văn bản</button>
                </div>
            </div>
        </div>
    </div>
</div>
  