<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Danh sách khách hàng</h4>
            <div class="grid p-pluid mt-2">
                <div class="formSearchText formsearch-posi">
                    <input type="text" placeholder="Tìm kiếm theo CCCD/hộ chiếu, tên khách hàng... " name="searchProject" [(ngModel)]="search" 
                    (keyup.Enter)="onSearch($event)" (keyup)="isInputEmpty = search === ''" value="" class="StextSingle_Project">
                    <button class="iconbtnSearch"  *ngIf="!isInputEmpty"><span class="pi pi-times mg-t-10" style="font-size: 1rem" (click)="onClearInput()"></span></button>
                </div>
            </div>
            <section class="FilterProject mb-2">
                <div class="addProjectList btn-options">
                    <button type="button" pButton icon="fa fa-plus-circle" label="Thêm mới" routerLink="/invoice/customer/create"></button>
                </div>
            </section>
            <p-table [value]="lstCustomer" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                [rowsPerPageOptions]="[10, 25, 50]" [loading]="isLoadingTable">
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>CCCD/Hộ chiếu</th>
                        <th>Ngày sinh</th>
                        <th>Thông tin căn hộ</th>
                        <th class="min-w-90">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td>{{ customer.FullName }}</td>
                        <td>{{ customer.Phone }}</td>
                        <td>{{ customer.CardId }}</td>
                        <td>{{ customer.Birthday | date:'dd/MM/yyyy' }}</td>
                        <td>{{ customer.FullName }}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                routerLink="/invoice/customer/update/{{customer.Id}}">
                            </button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2"
                                image.png (click)="onDelete(customer.Id)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="text-center">
                                 <td colspan="10" class="text-center text-danger">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>