<div class="grid">
    <div class="col-12">
        <div class="card" [formGroup]="fCustomer">
            <h3 class="mg-0">
                {{ !(id > 0) ? 'Thêm mới khách hàng' : 'Cập nhật khách hàng' }}
            </h3>

            <div class="grid formgrid" >
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtFullName">Họ và tên khách hàng
                             <span class="text-danger"> *</span>
                        </label>
                        <input id="txtFullName" type="text" pInputText formControlName="FullName">
                        <small *ngIf="fCustomer.controls['FullName'].hasError('minlength')" class="p-invalid text-danger">Họ và tên khách hàng phải tối thiểu 6 kí tự.</small>
                        <small *ngIf="fCustomer.controls['FullName'].hasError('maxlength')" class="p-invalid text-danger">Họ và tên khách hàng chỉ được tối đa 150 kí tự.</small>
                        <small *ngIf="fCustomer.controls['FullName'].hasError('required') && fCustomer.controls['FullName'].dirty" class="p-invalid text-danger">Vui lòng nhập Họ và tên khách hàng.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtCardId">Số CCCD/Hộ chiếu
                            <span class="text-danger"> *</span>
                        </label>
                        <input id="txtCardId" type="text" pInputText formControlName="CardId">
                        <small *ngIf="fCustomer.controls['CardId'].hasError('required') && fCustomer.controls['CardId'].dirty" class="p-invalid text-danger">Vui lòng nhập Số CCCD/Hộ chiếu.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid p-date">
                        <label for="txtDateId">Ngày cấp
                            <span class=""></span>
                        </label>
                        <p-calendar id="txtDateId" [showIcon]="true" inputId="icon" type="DateId" formControlName="DateId"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtAddressId">Nơi cấp
                            <span class=""></span>
                        </label>
                        <input id="txtAddressId" type="text" pInputText formControlName="AddressId">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid mt-2">
                        <label for="txtSex">Giới tính</label>
                        <div class="form-check">
                            <div class="form-check form-check-inline mr-2">
                                <p-radioButton formControlName="Sex" class="form-check-input form-check-radio" type="radio" name="Sex" id="male" value="0"></p-radioButton>
                                <label class="form-check-label" for="male">Name</label>
                            </div>
                            <div class="form-check form-check-inline ml-4">
                                <p-radioButton formControlName="Sex"  class="form-check-input form-check-radio" type="radio" name="Sex" id="female" value="1"></p-radioButton>
                                <label class="form-check-label" for="female">Nữ</label>
                            </div>
                            <div class="form-check form-check-inline ml-4">
                                <p-radioButton formControlName="Sex"  class="form-check-input form-check-radio" type="radio" name="Sex" id="other" value="2"></p-radioButton>
                                <label class="form-check-label" for="other">Khác</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid mt-2">
                        <label for="txtCountryId">Quốc gia
                            <span class=""></span>
                        </label>
                        <p-dropdown
                            [options]="lstCountry"
                            emptyMessage="Không có dữ liệu"
                            formControlName="CountryId"
                            optionValue="Id"
                            optionLabel="Name">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid p-date">
                        <label for="txtBirthDay">Ngày sinh
                            <span class=""></span>
                        </label>
                        <p-calendar id="txtBirthDay" [showIcon]="true" inputId="icon" type="BirthDay" formControlName="BirthDay"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtPhone">Số điện thoại
                            <span class="text-danger"> *</span>
                        </label>
                        <input id="txtPhone" type="text" pattern="[0-9\s]*" pInputText formControlName="Phone">
                        <small *ngIf="fCustomer.controls['Phone'].errors?.pattern" class="p-invalid text-danger">Số điện thoại không hợp lệ.</small>
                        <small *ngIf="fCustomer.controls['Phone'].hasError('required') && fCustomer.controls['Phone'].dirty" class="p-invalid text-danger">Vui lòng nhập Số điện thoại.</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtEmail">Email
                            <span class=""></span>
                        </label>
                        <input id="txtEmail" type="email" pInputText formControlName="Email">
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtAddress">Địa chỉ
                            <span class=""></span>
                        </label>
                        <input id="txtAddress" type="text" pInputText formControlName="Address">
                    </div>
                </div>
                <div class="col-12">
                    <div class="field p-fluid">
                        <div>
                            <label for="txtNote">Mô tả</label>
                        </div>
                        <textarea id="txtNote" class="w-100" rows="5" pInputTextarea formControlName="Note"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-4">
                        <label for="txtattactments" class="form-label">Tài liệu đính kèm</label>
                        <input  formControlName="listAttactments"  class="form-control no-bor" type="file" multiple (change)="onFileSelected($event)">
                        <div *ngFor="let file of listAttactments;  let i = index" class="displayflex">
                            <div class="col-10">
                                <a class="list-group-item list-group-item-success a-att"
                                    href="http://i-category.cnttvietnam.com.vn/uploads/files/{{file.Name}}" target="_blank">{{file.Name}}</a>
                            </div>
                            <div class="col-2">
                                <button class="iconbtnSearch clear-text"><span class="pi pi-times span-attactment" style="font-size: 1rem" (click)="RemoveAttactment(file)"></span></button>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="col-12 p_float_right mt-4">
                    <p-toast></p-toast>
                    <button pButton pRipple type="button" label="Hủy" class="p-button-outlined p-button-secondary mr-2"  (click)="onBack($event)">
                    </button>
                    <p-button label= 'Xác nhận' icon='pi pi-check'
                        [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog class="custom-toast"></p-confirmDialog>




