<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="textFilterPos">
                <h4 class="mg-l-9">Danh mục tin quảng cáo</h4>

                <section class="FilterProject">
                    <div class="textFilterProj">
                        <div class="addProjectList btn-options">
                            <button type="button" pButton icon="fa fa-plus-circle" label="Thêm mới" routerLink="/manager-category/banner/create"></button>
                        </div>
                        <div class="addProjectList mr-2 btn-orange absolute-btn">
                            <button #btn type="button" pButton icon="pi pi-chevron-down" label="Hành động" (click)="menu.toggle($event)" style="width:auto"></button>
                            <p-tieredMenu #menu [model]="menuItems" [popup]="true"></p-tieredMenu>
                        </div>
                    </div>
                </section>
            </div>
            <div class="grid formgrid center-form-inpos" [formGroup]="fBanner">
                <div class="field p-fluid center-text-inpos w-22-9">
                    <p-dropdown
                        [options]="lstProject"
                        placeholder="Khu đô thị"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="ProjectId"
                        optionLabel="Name"
                        optionValue="Id"
                        (onChange)="onSelectProject($event)">
                    </p-dropdown>
                </div>
                <div class="field p-fluid center-text-inpos w-22-9">
                    <p-dropdown
                        [options]="lstTower"
                        placeholder="Tòa nhà"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="TowerId"
                        optionLabel="Name"
                        optionValue="Id"
                        (onChange)="onFilter($event)">
                    </p-dropdown>
                </div>
                <div class="field p-fluid center-text-inpos w-22-9">
                    <p-dropdown
                        [options]="lstZone"
                        placeholder="Vị trí"
                        emptyMessage="Không có dữ liệu."
                        [showClear]="true"
                        formControlName="ZoneId"
                        optionLabel="Name"
                        optionValue="Id"
                        >
                    </p-dropdown>
                </div>
                <!-- <div class="field p-fluid center-text-inpos w-22-9">
                    <ng-select 
                        [items]="lstZone"
                        [virtualScroll]="true" 
                        [loading]="false" 
                        formControlName="ZoneId"
                        [notFoundText]="'Chọn vị trí'"
                        placeholder="Vị trí"
                        bindLabel="Name" 
                        bindValue="Id"
                        (scrollToEnd)="fetchMoreZone()"
                        #selectFloor
                        pDropdown>
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <span [ngOptionHighlight]="search">{{item.Name}}</span>
                        </ng-template>
                    </ng-select>
                </div> -->
                <div class="col-3 mg-t-2">
                    <div class="field p-fluid p-date">
                        <p-calendar id="txtBirthDay" placeholder="Ngày tạo" [showIcon]="true" inputId="icon"  formControlName="DateStart"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="col-3 mg-l-9">
                    <div class="field p-fluid p-date">
                        <p-calendar id="txtBirthDay" placeholder="Ngày hiệu chỉnh" [showIcon]="true" inputId="icon"  formControlName="DateEnd"  dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
                <div class="formSearchText formsearch-innews">
                    <input
                        (keyup.enter)="onSearch()"
                        type="text"
                        [(ngModel)]="filterText"
                        (keyup)="isInputEmpty=filterText==''"
                        placeholder="Tìm kiếm theo tiêu đề bài viết... "
                        name="searchnotebook"
                        value=""
                        class="StextSingle_Project"
                        #filter
                        [ngModelOptions]="{standalone: true}"
                    />
                    <button class="iconbtnSearch"  *ngIf="!isInputEmpty"><span class="pi pi-times mg-t-10" style="font-size: 1rem" (click)="onClearInput()"></span></button>
                </div>
            </div> 
                <section class="FilterProject ml-3 mt-3">
                    <div class="addProjectList btn-options">
                        <button type="button" pButton icon="pi pi-filter" label="Lọc" (click)="onSelect()"></button>
                    </div>
                </section>
                <div class="grid formgrid center-form-inpos">
                    <div class="col-12"></div>
                    <p-toggleButton class="mg-l-2 mg-t-2" [(ngModel)]="idFrozen" [onIcon]="'pi pi-lock'" offIcon="pi pi-lock-open" [onLabel]="'Thao tác'" 
                        offLabel="Thao tác" [style]="{'width': '12rem'}"></p-toggleButton>
                </div>
            </div>
            <p-table class="mg-t-2 mg-l-2"
                [value]="lstBanner"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục nhập"
                [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="isLoadingTable"
                [(selection)]="selectedBanner"
                [scrollable]="true"
                >
                <ng-template pTemplate="header">
                    <tr class="th-table">
                        <th style="width: 3%">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>STT</th>
                        <th class="min-w-200">Ảnh hiển thị</th>
                        <th class="min-w-300">Tiêu đề quảng cáo</th>
                        <th class="min-w-300">Link banner</th>
                        <th class="min-w-200">Khu đô thị</th>
                        <th class="min-w-200">Ngày tạo</th>
                        <th class="min-w-200">Ngày hoạt động</th>
                        <th class="min-w-200">Ngày cập nhật</th>
                        <th class="min-w-150 text-center" alignFrozen="right" pFrozenColumn [frozen]="idFrozen" [ngClass]="{'color-bg': idFrozen}">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template
                    pTemplate="body"
                    let-banner
                    let-rowIndex="rowIndex"
                >
                    <tr class="td-table">
                        <td >
                            <p-tableCheckbox [value]="banner" ></p-tableCheckbox>
                        </td>
                        <td>
                            {{ rowIndex + 1 }}
                        </td>
                        <td><img class="img-size" src="{{ docmainImage }}{{ banner.Image }}"></td>
                        <td>{{ banner.Title }}</td>
                        <td>{{ banner.Url }}</td>
                        <td>
                              <span *ngFor="let items of banner.listProjectMaps;let last=last">{{items?.ProjectName}}<span *ngIf="!last">, </span></span>
                        </td>
                        <td>{{ banner.CreatedAt ? (banner.CreatedAt | date: 'dd/MM/yyyy') : '' }} - {{ banner.CreatedAt ? (banner.CreatedAt | date:'shortTime') : '' }}</td>
                        <td>{{ banner.DateStartActive ? (banner.DateStartActive | date: 'dd/MM/yyyy') : '' }} - {{ banner.DateStartActive ? (banner.DateStartActive | date:'shortTime') : '' }}</td>       
                        <td>{{ banner.UpdatedAt ? (banner.UpdatedAt | date: 'dd/MM/yyyy') : '' }} - {{ banner.UpdatedAt ? (banner.UpdatedAt | date:'shortTime') : '' }}</td>
                        <td alignFrozen="right" pFrozenColumn [frozen]="idFrozen" [ngClass]="{'color-bg': idFrozen}">
                            <button
                                pTooltip="Sửa quảng cáo"
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                routerLink="/manager-category/banner/update/{{banner.Id}}"></button>
                            <button
                                pTooltip="Xóa quảng cáo"
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-warning"
                                (click)="onDelete(banner)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="text-center">
                                 <td colspan="10" class="text-center text-danger">Không có dữ liệu.</td>
                    </tr>
                </ng-template>
            </p-table>
    </div>
</div>
<p-toast></p-toast>

<p-confirmDialog class="custom-toast"></p-confirmDialog>



