<div class="grid">
    <div class="col-12">
        <h3>
            {{ !(id > 0) ? 'Thêm mới cấu hình App' : 'Cập nhật cấu hình App' }}
        </h3>
        <div class="card" [formGroup]="fApp">
            <div class="grid formgrid" >
                <div class="col-12">
                    <h3  class=" mg-0"><p class="pi pi-briefcase"></p> Thông tin cấu hình</h3>
                </div>  
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Khu đô thị  <span class="text-danger"> *</span></label>
                        <p-dropdown
                            [options]="lstProject" 
                            placeholder="Khu đô thị" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="ProjectId" 
                            optionLabel="Name" 
                            optionValue="Id"
                            (onChange)="getListTower($event)">
                        </p-dropdown>
                        <small *ngIf="fApp.controls['ProjectId'].hasError('required') && fApp.controls['ProjectId'].dirty" class="p-invalid text-danger">Vui lòng chọn Khu đô thị.</small>                   
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtDistrict">Trạng thái  <span class="text-danger"> *</span></label>
                        <p-dropdown
                            [options]="isStatus" 
                            placeholder="Chọn trạng thái" 
                            emptyMessage="Không có dữ liệu."
                            [showClear]="true" 
                            formControlName="Status" 
                            optionLabel="label" 
                            optionValue="value">
                        </p-dropdown>
                        <small *ngIf="fApp.controls['Status'].hasError('required') && fApp.controls['Status'].dirty" class="p-invalid text-danger">Vui lòng chọn Trạng thái.</small>                   
                    </div>
                </div>
                <div class="col-12">
                    <div class="field p-fluid">
                        <div class="displayflex">
                            <label for="txtDistrict" class="w-15">Tòa nhà  <span class="text-danger"> *</span></label>
                            <i class="color-i" *ngIf="!fApp.get('ProjectId').value">Vui lòng chọn Khu đô thị</i>
                            <div class="displayflex" *ngIf="fApp.get('ProjectId').value">
                                <div class="checkbox">
                                    <input type="checkbox" [(ngModel)]="allChecked" (change)="toggleAll()" [ngModelOptions]="{standalone: true}">
                                    <div>
                                        <span> Chọn tất cả</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="displayflex" >
                            <div *ngFor="let tower of lstTower" class="checkbox">
                                <input type="checkbox" [value]="tower.name" [(ngModel)]="tower.checked"  (change)="checkAll()" [ngModelOptions]="{standalone: true}">
                                <div>
                                    <span> {{ tower.Name }}</span>
                                </div>
                            </div>
                        </div>
                        <small *ngIf="fApp.controls['listTowerMaps'].dirty" class="p-invalid text-danger">Vui lòng chọn Tòa nhà.</small>                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Tên cấu hình App
                             <span class="text-danger"> *</span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="Name">
                        <small *ngIf="fApp.controls['Name'].hasError('minlength')" class="p-invalid text-danger">Tên dự án phải tối thiểu 3 kí tự.</small>
                        <small *ngIf="fApp.controls['Name'].hasError('maxlength')" class="p-invalid text-danger">Tên dự án chỉ được tối đa 150 kí tự.</small>
                        <small *ngIf="fApp.controls['Name'].hasError('required') && fApp.controls['Name'].dirty" class="p-invalid text-danger">Vui lòng nhập Tên cấu hình Email.</small> 
                    </div>
                </div>            
                <div class="col-6">
                    <div class="field p-fluid">
                        <label for="txtName">Mô tả chi tiết
                            <span class=""></span>
                        </label>
                        <input id="txtName" type="text" pInputText formControlName="Note">
                    </div>
                </div>
            </div>
            <div class="grid formgrid">
                <div class="col-12">
                    <h3><p class="pi pi-briefcase"></p> Cấu hình khối</h3>
                </div>
                <div class="col-12">
                    <p-table 
                        [value]="lstBlock"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        [(selection)]="itemsBlock">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Stt</th>
                                <th class="w-15">Mã khối</th>
                                <th class="w-30">Tên khối</th>
                                <th class="w-30">Thứ tự hiển thị</th>
                                <th class="check-display">
                                    Hiển thị
                                </th>
                            </tr>  
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>{{ item.Code }}</td>
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Name }}</td>
                                <td class="text-center">
                                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="text-center">
                                <td colspan="6" class="text-center color-i">Không có dữ liệu.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid formgrid">
                <div class="col-12">
                    <h3><p class="pi pi-briefcase"></p> Thứ tự chức năng</h3>
                </div>
                <div class="col-12">
                    <p-table 
                        [value]="lstFunction"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        [(selection)]="itemsFunction">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Stt</th>
                                <th class="w-15">Mã khối</th>
                                <th class="w-30">Tên khối</th>
                                <th class="w-30">Thứ tự hiển thị</th>
                                <th class="check-display">
                                    Hiển thị
                                </th>
                            </tr>  
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>{{ item.Code }}</td>
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Name }}</td>
                                <td class="text-center">
                                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="text-center">
                                <td colspan="6" class="text-center color-i">Không có dữ liệu.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid formgrid">
                <div class="col-12">
                    <h3><p class="pi pi-briefcase"></p> Thứ tự tiện ích</h3>
                </div>
                <div class="col-12">
                    <p-table 
                        [value]="lstUtilities"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        [(selection)]="itemsUtilities">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Stt</th>
                                <th class="w-15">Mã khối</th>
                                <th class="w-30">Tên khối</th>
                                <th class="w-30">Thứ tự hiển thị</th>
                                <th class="check-display">
                                    Hiển thị
                                </th>
                            </tr>  
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>{{ item.Code }}</td>
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Name }}</td>
                                <td class="text-center">
                                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="text-center">
                                <td colspan="6" class="text-center color-i">Không có dữ liệu.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid formgrid">
                <div class="col-12">
                    <h3><p class="pi pi-briefcase"></p> Thứ tự dịch vụ</h3>
                </div>
                <div class="col-12">
                    <p-table 
                        [value]="lstService"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        [(selection)]="itemsService">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Stt</th>
                                <th class="w-15">Mã khối</th>
                                <th class="w-30">Tên khối</th>
                                <th class="w-30">Thứ tự hiển thị</th>
                                <th class="check-display">
                                    Hiển thị
                                </th>
                            </tr>  
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>{{ item.Code }}</td>
                                <td>{{ item.Name }}</td>
                                <td>{{ item.Name }}</td>
                                <td class="text-center">
                                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="text-center">
                                <td colspan="6" class="text-center color-i">Không có dữ liệu.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid formgrid">
                <div class="col-12 p_float_right">
                    <button pButton pRipple type="button" label="Hủy" class="p-button-outlined p-button-secondary mr-2" (click)="onBack($event)">
                    </button>
                    <p-button label='Xác nhận' icon='pi pi-check' [loading]="loading[0]" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
